.cwrc div[xmltagname="P"] {    
    word-wrap: normal;
    white-space: normal;
    display : block;
    margin-bottom: 20px;
    text-align: justify;
}

.cwrc div[xmltagname="EVENTS"] {
    font-family : "Times New Roman", Times, serif;
}
.cwrc div[xmltagname="CWRCHEADER"] {
    display : block;
    font-family : Verdana, Geneva, sans-serif;
    font-size : small;
}
.cwrc div[xmltagname="FILEDESC"] {
    background-color : #BBB;
    color : #555;
    font-weight : bold;
}
.cwrc div[xmltagname="DOCTITLE"] {
    display : block;
    font-variant : small-caps;
    font-size : x-large;
    font-weight : normal;
}
.cwrc div[xmltagname="ENTRY"],
.cwrc div[xmltagname="FILEDESC"],
.cwrc div[xmltagname="DOCAUTHOR"],
.cwrc div[xmltagname="DOCEDITOR"],
.cwrc div[xmltagname="DOCEXTENT"],
.cwrc div[xmltagname="PUBLICATIONSTMT"],
.cwrc div[xmltagname="TITLESTMT"],
.cwrc div[xmltagname="PUBPLACE"],
.cwrc div[xmltagname="DATAITEM"],
.cwrc div[xmltagname="SOURCE"] {
    display: block;
    display: list-item;
    margin: 10px;
}
.cwrc div[xmltagname="DATAITEM"] {
    font-style: italic;
    font-weight: bold;
}
.cwrc div[xmltagname="BIRTHNAME"]:before {
    content: "Birth Name:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="NICKNAME"]:before {
    content: "Nickname:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="MARRIED"]:before {
    content: "Married Name:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="INDEXED"]:before {
    content: "Indexed:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="SELFCONSTRUCTED"]:before {
    content: "Self Constructed:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="PSEUDONYM"]:before {
    content: "Pseudonym:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="RELIGIOUSNAME"]:before {
    content: "Religious Name:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="ROYAL"]:before {
    content: "Royal Name:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="STYLED"]:before {
    content: "Styled:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="TITLED"]:before {
    content: "Titled:";
    font-weight: normal;
    font-style: normal;
}
.cwrc div[xmltagname="RESPONSIBILITY"] {
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;
    background-color: #F0EDFC;
    display: list-item;
}
.cwrc div[xmltagname="STANDARD"] {
    font-weight: bold;
}
.cwrc div[xmltagname="EMPH"] {
    font-style : italic;
}
.cwrc div[xmltagname="FOREIGN"] {
    font-style : italic;
}
.cwrc div[xmltagname="TITLE"][TITLETYPE = "MONOGRAPHIC"],
.cwrc div[xmltagname="TITLE"][TITLETYPE = "JOURNAL"] {
    font-style : italic;
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="TITLE"][TITLETYPE = "SERIES"] {
    font-style : normal;
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="TITLE"][TITLETYPE = "ANALYTIC"],
.cwrc div[xmltagname="TITLE"][TITLETYPE = "UNPUBLISHED"] {
    font-style : normal;
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="TITLE"][TITLETYPE = "ANALYTIC"]:before,
.cwrc div[xmltagname="TITLE"][TITLETYPE = "UNPUBLISHED"]:before {
    content : open-quote;
}
.cwrc div[xmltagname="TITLE"][TITLETYPE = "ANALYTIC"]:after,
.cwrc div[xmltagname="TITLE"][TITLETYPE = "UNPUBLISHED"]:after {
    content : close-quote;
}
.cwrc div[xmltagname="ADDRLINE"] {
    display : list-item;
}
.cwrc div[xmltagname="IDNO"] {
    display : list-item;
}
.cwrc div[xmltagname="AVAILABILITY"] {
    display : inline;
}
.cwrc div[xmltagname="RESEARCHNOTE"] {
    background-color : #FBEFEF;
    color : #663366;
    font-family : Arial, Helvetica, sans-serif;
    font-size : smaller;
    display : list-item;
}
.cwrc div[xmltagname="HEADING"] {
    font-weight : bold;
    font-size : x-large;
    color : #039;
    margin: 10px;
}

.cwrc div[xmltagname="CHRONSTRUCT"] {
    display : list-item;
}
.cwrc div[xmltagname="CHRONSTRUCT"] DATE {
    font-weight : bold;
}
.cwrc div[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "BRITISHWOMENWRITERS"] {
    content : url(http://cwrc.ca/templates/images/pen1.gif);
}
.cwrc div[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "NATIONALINTERNATIONAL"] {
    content : url(http://cwrc.ca/templates/images/earth1.gif);
}
.cwrc div[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "SOCIALCLIMATE"] {
    content : url(http://cwrc.ca/templates/images/people1.gif);
}
.cwrc div[xmltagname="SHORTPROSE"] {
    padding-left : 4em;
}

.cwrc div[xmltagname="LISTBIBCIT"] {
    display: block;
    margin: 10px;
}

.cwrc div[xmltagname="BIBCIT"] {
    display: block;
    font-size: smaller;
    margin-bottom: 5px;
    display: list-item;
}
.cwrc div[xmltagname="BIBCIT"]:before {
    content : "(";
}
.cwrc div[xmltagname="BIBCIT"]:after {
    content : ")";
}
.cwrc div[xmltagname="BIBCITS"] {
    display: block;
    background-color : #FFC;
}
.cwrc div[xmltagname="SCHOLARNOTE"] .cwrc div[xmltagname="P"] {
    content : url(http://cwrc.ca/templates/images/note.gif);
    background-color : #E0E0F8;
}
.cwrc div[xmltagname="NAME"] {
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="ORGNAME"] {
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="SETTLEMENT"] {
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="REGION"] {
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="GEOG"] {
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="AREA"] {
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="TOPIC"] {
    font-weight : bold;
    color : #336699;
}
.cwrc div[xmltagname="QUOTE"]:before {
    content : open-quote;
}
.cwrc div[xmltagname="QUOTE"]:after {
    content : close-quote;
}
.cwrc div[xmltagname="QUOTE"][DIRECT = "N"]:before {
    content : "'";
}
.cwrc div[xmltagname="QUOTE"][DIRECT = "N"]:after {
    content : "'";
}
.cwrc div[xmltagname="SOCALLED"]:before {
    content : "'";
}
.cwrc div[xmltagname="SOCALLED"]:after {
    content : "'";
}