.tei .tagname-markup {
    top: 16px;
}

.tei div[xmltagname="TEI"] {
    font-family : Georgia, serif;
    line-height : 1.5;
}

.tei div[xmltagname="abbr"] {
    display : inline;
}

.tei div[xmltagname="add"] {
    display : inline;
    text-decoration : underline;
}

.tei div[xmltagname="anchor"] {
    display : none;
}

.tei div[xmltagname="argument"] {
    display : block;
}

.tei div[xmltagname="att"] {
    display : inline;
    font-family : sans-serif;
}

.tei div[xmltagname="author"] {
    display : inline;
}

.tei div[xmltagname="back"] {
    display : block;
    border : thin black solid;
}

.tei div[xmltagname="bibl"] {
    display : inline;
}

.tei div[xmltagname="div"] {
}

.tei div[xmltagname="bibl"]>
.tei div[xmltagname="note"] {
    display : inline;
}

.tei div[xmltagname="bibl"]>
.tei div[xmltagname="title"] {
    content: "Alternate Title: " !important;
}

.tei div[xmltagname="bibl"]>
.tei div[xmltagname="title"] {
    content: "";
}

.tei div[xmltagname="argument"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="body"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="cit"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="div"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="div0"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="div1"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="div2"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="div3"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="div4"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="div5"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="div6"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="div7"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="epigraph"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="list"]
.tei div[xmltagname="ibl"]>
.tei div[xmltagname="bibl"]>
.tei div[xmltagname="bibl"],
.tei div[xmltagname="taxonomy"]>
.tei div[xmltagname="bibl"] {
    display : block;
}

.tei div[xmltagname="biblFull"] {
    display : inline;
}

.tei div[xmltagname="argument"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="body"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="cit"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="div"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="div0"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="div1"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="div2"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="div3"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="div4"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="div5"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="div6"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="div7"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="epigraph"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="listBibl"]>
.tei div[xmltagname="biblFull"]>
.tei div[xmltagname="biblFull"],
.tei div[xmltagname="taxonomy"]>
.tei div[xmltagname="biblFull"] {
    display : block;
}

.tei div[xmltagname="biblScope"] {
    display : inline;
}

.tei div[xmltagname="imprint"]>
.tei div[xmltagname="biblScope"] {
    display : block;
}

.tei div[xmltagname="body"] {
    display : block;
    counter-reset : div1;
}

.tei div[xmltagname="byline"] {
    display : block;
    font-style : italic;
}

.tei div[xmltagname="category"] {
    display : block;
}

.tei div[xmltagname="catRef"] {
    display : none;
}

.tei div[xmltagname="cell"] {
    display : table-cell;
    border : 1px solid #EEEFEE;
}

.tei div[xmltagname="change"] {
    display : block;
}

.tei div[xmltagname="cit"] {
    display : inline;
}

.tei div[xmltagname="argument"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="body"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="div"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="div0"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="div1"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="div2"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="div3"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="div4"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="div5"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="div6"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="div7"] >
.tei div[xmltagname="cit"] ,
.tei div[xmltagname="epigraph"] >
.tei div[xmltagname="cit"] {
    display : block;
}

.tei div[xmltagname="classCode"] {
    display : block;
}

.tei div[xmltagname="elementSpec"],
.tei div[xmltagname="macroSpec"],
.tei div[xmltagname="classSpec"] {
    display : block;
}

.tei div[xmltagname="closer"] {
    display : block;
    width : 95%;
}

.tei div[xmltagname="code"] {
    display : inline;
    font-family : monospace;
}

.tei div[xmltagname="corr"] {
    display : inline;
}

.tei div[xmltagname="creation"] {
    display : block;
}

.tei div[xmltagname="date"] {
    display : inline;
}

.tei div[xmltagname="change"]>
.tei div[xmltagname="date"],
.tei div[xmltagname="publicationStmt"]>
.tei div[xmltagname="date"] {
    display : block;
    font-weight : bold;
}

.tei div[xmltagname="dateline"] {
    display : inline;
}

.tei div[xmltagname="del"] {
    display : inline;
    color : red;
    background-color : inherit;
    text-decoration : line-through;
}

.tei div[xmltagname="distributor"] {
    display : block;
}

.tei div[xmltagname="body"]>
.tei div[xmltagname="div"] {
    display : block;
    counter-increment : div1;
    counter-reset : div2;
}

.tei div[xmltagname="body"] >
.tei div[xmltagname="div"] >
.tei div[xmltagname="div"] {
    display : block;
    counter-increment : div2;
    counter-reset : div3;
}

.tei div[xmltagname="body"] >
.tei div[xmltagname="div"] >
.tei div[xmltagname="div"] >
.tei div[xmltagname="div"] {
    display : block;
    counter-increment : div3;
}

.tei div[xmltagname="body"] >
.tei div[xmltagname="div"] {
}

.tei div[xmltagname="div"] {
    counter-reset:line;
}

.tei div[xmltagname="div1"] {
    display : block;
    counter-increment : div1;
    counter-reset : div2;
}

.tei div[xmltagname="div2"] {
    display : block;
    counter-increment : div2;
    counter-reset : div3;
}

.tei div[xmltagname="div3"] {
    display : block;
    counter-increment : div3;
    counter-reset : div4;
}

.tei div[xmltagname="div4"] {
    display : block;
    counter-increment : div4;
    counter-reset : div5;
}

.tei div[xmltagname="div5"] {
    display : block;
    counter-increment : div5;
    counter-reset : div6;
}

.tei div[xmltagname="div6"] {
    display : block;
    counter-increment : div6;
    counter-reset : div7;
}

.tei div[xmltagname="div7"] {
    display : block;
    counter-increment : div7;
}

.tei div[xmltagname="divGen"] {
    display : none;
}

.tei div[xmltagname="docAuthor"] {
    display : block;
}

.tei div[xmltagname="byline"]
.tei div[xmltagname="docAuthor"] {
    display : inline;
}

.tei div[xmltagname="edition"] {
    display : block;
}

.tei div[xmltagname="bibl"]
.tei div[xmltagname="edition"] {
    display : inline;
}

.tei div[xmltagname="editionStmt"] {
    display : block;
}

.tei div[xmltagname="editor"] {
    display : block;
}

.tei div[xmltagname="bibl"]
.tei div[xmltagname="editor"] {
    display : inline;
}

.tei div[xmltagname="eg"] {
    font-family : monospace;
    display : block;
    white-space : pre;
    color : inherit;
    background-color : #FFCC99;
}

.tei div[xmltagname="argument"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="body"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="div"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="div0"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="div1"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="div2"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="div3"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="div4"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="div5"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="div6"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="div7"] >
.tei div[xmltagname="eg"],
.tei div[xmltagname="epigraph"] >
.tei div[xmltagname="eg"] {
    display : block;
}

.tei div[xmltagname="emph"] {
    display : inline;
    font-style : italic;
}

.tei div[xmltagname="epigraph"] {
    display : block;
    text-align : center;
}

.tei div[xmltagname="extent"] {
    display : block;
}

.tei div[xmltagname="bibl"]
.tei div[xmltagname="extent"] {
    display : inline;
}

.tei div[xmltagname="graphic"] {
    color : gray;
    background-color : inherit;
    content : "{" attr(url) "}
";
}

.tei div[xmltagname="figure"] {
    display : block;
}

.tei div[xmltagname="foreign"] {
    display : inline;
    font-style : italic;
}

.tei div[xmltagname="formula"] {
    display : inline;
    font-style : italic;
}

.tei div[xmltagname="front"] {
    display : block;
}

.tei div[xmltagname="funder"] {
    display : block;
}

.tei div[xmltagname="gap"] {
    display : none;
}

.tei div[xmltagname="gi"],
.tei div[xmltagname="tag"] {
    display : inline;
    font-family : sans-serif;
    color : black;
    background-color : inherit;
}

.tei div[xmltagname="gloss"] {
    display : inline;
}

.tei div[xmltagname="group"] {
    display : block;
}

.tei div[xmltagname="body"] >
.tei div[xmltagname="div"] >
.tei div[xmltagname="head"] {
    display : block;
    color : inherit;
    font-weight : bold;
    font-size : 18px;
}

.tei div[xmltagname="body"] >
.tei div[xmltagname="div"] >
head .tei div[xmltagname="author"] {
    font-weight:normal;
}

.tei div[xmltagname="body"] >
.tei div[xmltagname="div"] >
.tei div[xmltagname="div"] >
.tei div[xmltagname="head"] {
    display : block;
    color : inherit;
    background-color : #BBBBBB;
    font-weight : bold;
}

.tei div[xmltagname="body"] >
.tei div[xmltagname="div"] >
.tei div[xmltagname="div"] >
.tei div[xmltagname="div"] >
.tei div[xmltagname="head"] {
    display : block;
    color : inherit;
    background-color : #BBBBBB;
    font-weight : bold;
}

.tei div[xmltagname="div"]
.tei div[xmltagname="opener"]
.tei div[xmltagname="dateline"] {
    display : block;
    text-align : right;
    width : 95%;
}

.tei div[xmltagname="hi"] {
    display : inline;
    background-color : yellow;
    color : black;
}

.tei div[xmltagname="hi"] {
    background-color : inherit;
    color : inherit;
}

.tei div[xmltagname="hi"] {
    display : inline;
    font-weight : bold;
}

.tei div[xmltagname="hi"] {
    display : inline;
    font-style : italic;
}

.tei div[xmltagname="hi"] {
    display : inline;
    text-decoration : underline;
}

.tei div[xmltagname="hi"] {
    display : inline;
    font-style : italic;
}

.tei div[xmltagname="hi"] {
    display : inline;
    font-variant : small-caps;
}

.tei div[xmltagname="hi"] {
    display : inline;
    vertical-align : super;
    font-size : smaller;
}

.tei div[xmltagname="hi"] {
    display : inline;
    vertical-align : sub;
    font-size : smaller;
}

.tei div[xmltagname="hi"] {
    display : inline;
    text-decoration : underline;
}

.tei div[xmltagname="ident"] {
    display : inline;
    font-family : monospace;
}

.tei div[xmltagname="idno"] {
    display : block;
}

.tei div[xmltagname="bibl"]
.tei div[xmltagname="idno"] {
    display : inline;
}

.tei div[xmltagname="imprint"] {
    display : inline;
}

.tei div[xmltagname="index"] {
    display : none;
}

.tei div[xmltagname="interp"] {
    display : none;
}

.tei div[xmltagname="interpGrp"] {
    display : none;
}

.tei div[xmltagname="list"]
.tei div[xmltagname="item"] {
    display : block;
}

.tei div[xmltagname="list"]
.tei div[xmltagname="item"] {
    display : list-item;
}

.tei div[xmltagname="item"] {
    display : list-item;
}

.tei div[xmltagname="change"]
.tei div[xmltagname="item"] {
    display : block;
}

.tei div[xmltagname="keywords"] {
    display : block;
}

.tei div[xmltagname="kw"] {
    display : inline;
    font-style : italic;
}

.tei div[xmltagname="l"] {
    display : block;
    white-space : nowrap;
}

.tei div[xmltagname="label"] {
    display : inline;
    font-weight : bold;
}

.tei div[xmltagname="Label"] {
    display : inline;
    font-weight : bold;
    color : #2F4F4F;
    background-color : inherit;
}

.tei div[xmltagname="argument"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="body"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="div"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="div0"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="div1"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="div2"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="div3"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="div4"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="div5"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="div6"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="div7"] >
.tei div[xmltagname="label"] ,
.tei div[xmltagname="epigraph"] >
.tei div[xmltagname="label"] {
    display : block;
    font-weight : bold;
}

.tei div[xmltagname="langUsage"] {
    display : block;
}

.tei div[xmltagname="lb"] {
    display : block;
}

.tei div[xmltagname="lg"] {
    display : block;
}

.tei div[xmltagname="list"] {
    display : block;
    list-style-type : disc;
    list-style-position : outside;
}

.tei div[xmltagname="list"] {
    display : inline;
}

.tei div[xmltagname="list"] {
    list-style-type : disc;
    list-style-position : outside;
}

.tei div[xmltagname="list"] {
    list-style-type : disc;
    list-style-position : outside;
}

.tei div[xmltagname="list"] {
    list-style-type : decimal;
    list-style-position : outside;
}

.tei div[xmltagname="list"] {
    list-style-type : decimal;
    list-style-position : outside;
}

.tei div[xmltagname="list"] {
    list-style-type : none;
}

.tei div[xmltagname="listBibl"] {
    display : block;
}

.tei div[xmltagname="mentioned"] {
    display : inline;
    font-style : italic;
}

.tei div[xmltagname="milestone"] {
    display : none;
}

.tei div[xmltagname="name"] {
    display : inline;
}

.tei div[xmltagname="note"] {
    display : block;
    color:#999;
}

.tei div[xmltagname="opener"]
.tei div[xmltagname="note"] {
    display : block;
    color:#999;
}

.tei div[xmltagname="div"]
.tei div[xmltagname="note"]
.tei div[xmltagname="persName"], .tei div[xmltagname="div"] .tei div[xmltagname="note"] .tei div[xmltagname="orgName"], .tei div[xmltagname="div"] .tei div[xmltagname="note"] .tei div[xmltagname="title"], .tei div[xmltagname="div"] .tei div[xmltagname="note"] .tei div[xmltagname="placeName"] {
    color:#6DB0CC !important;
}

.tei div[xmltagname="note"] {
    float : left;
}

.tei div[xmltagname="note"] {
    float : right;
}

.tei div[xmltagname="note"],
.tei div[xmltagname="note"] {
    display : inline;
}

.tei div[xmltagname="notesStmt"] {
    display : block;
}

.tei div[xmltagname="num"] {
    display : inline;
}

.tei div[xmltagname="opener"] {
    display : block;
}

.tei div[xmltagname="opener"]
.tei div[xmltagname="p"] {
    text-align : justify !important;
    text-indent : 0 !important;
}

.tei div[xmltagname="orig"] {
    display : inline;
}

.tei div[xmltagname="p"] {
    display : block;
}

.tei div[xmltagname="pb"] {
    display : none;
}

.tei div[xmltagname="div"]
.tei div[xmltagname="persName"], .tei div[xmltagname="div"] .tei div[xmltagname="placeName"], .tei div[xmltagname="div"] .tei div[xmltagname="orgName"], .tei div[xmltagname="div"] .tei div[xmltagname="title"] {
    color: #336699;
}

.tei div[xmltagname="principal"] {
    display : block;
}

.tei div[xmltagname="ptr"] {
    color : navy;
    text-decoration : underline;
    background-color : inherit;
}

.tei div[xmltagname="publicationStmt"] {
    display : block;
}

.tei div[xmltagname="publicationStmt"]
.tei div[xmltagname="p"] {
    display : block;
}

.tei div[xmltagname="publisher"] {
    display : inline;
}

.tei div[xmltagname="imprint"] >
.tei div[xmltagname="publisher"],
.tei div[xmltagname="publicationStmt"] >
.tei div[xmltagname="publisher"] {
    display : block;
}

.tei div[xmltagname="pubPlace"] {
    display : inline;
}

.tei div[xmltagname="imprint"] >
.tei div[xmltagname="pubPlace"],
.tei div[xmltagname="publicationStmt"] >
.tei div[xmltagname="pubPlace"] {
    display : block;
}

.tei div[xmltagname="q"] {
    display : inline;
    quotes : '"' '"' "'" "'";
}

.tei div[xmltagname="q"],
.tei div[xmltagname="argument"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="body"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="cit"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="div"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="div0"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="div1"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="div2"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="div3"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="div4"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="div5"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="div6"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="div7"] >
.tei div[xmltagname="q"],
.tei div[xmltagname="epigraph"] >
.tei div[xmltagname="q"] {
    display : block;
    quotes : none;
}

.tei div[xmltagname="ref"] {
    display : inline;
    color : black;
    background-color : inherit;
}

.tei div[xmltagname="reg"] {
    display : inline;
    font-style : italic;
}

.tei div[xmltagname="rendition"] {
    display : block;
}

.tei div[xmltagname="resp"] {
    display : block;
}

.tei div[xmltagname="respStmt"] {
    display : block;
}

.tei div[xmltagname="bibl"]
.tei div[xmltagname="respStmt"] {
    display : inline;
}

.tei div[xmltagname="row"] {
    display : table-row;
}

.tei div[xmltagname="row"] {
    color : inherit;
    background-color : #BBBBBB;
}

.tei div[xmltagname="rs"] {
    display : inline;
}

.tei div[xmltagname="s"] {
    display : inline;
}

.tei div[xmltagname="salute"] {
    display : block;
}

.tei div[xmltagname="samplingDecl"] {
    display : block;
}

.tei div[xmltagname="seg"] {
    display : inline;
}

.tei div[xmltagname="seriesStmt"] {
    display : block;
}

.tei div[xmltagname="sic"] {
    display : inline;
    color : red;
    background-color : inherit;
}

.tei div[xmltagname="signed"] {
    display : block;
    text-align : right;
}

.tei div[xmltagname="soCalled"] {
    display : inline;
    font-style : italic;
    quotes : "'" "'";
}

.tei div[xmltagname="sp"] {
    display : block;
}

.tei div[xmltagname="div"]
.tei div[xmltagname="p"] {
    text-align : justify;
    text-indent : 30px;
}

.tei div[xmltagname="speaker"] {
    display : inline;
    font-weight : bold;
}

.tei div[xmltagname="sponsor"] {
    display : block;
}

.tei div[xmltagname="stage"] {
    display : inline;
    font-style : italic;
}

.tei div[xmltagname="table"] {
    text-align : center;
    display : table;
    margin : 1em
}

.tei div[xmltagname="table"] >
.tei div[xmltagname="head"] {
    display : table-caption;
    font-style : italic;
}

.tei div[xmltagname="tagUsage"] {
    display : block;
}

.tei div[xmltagname="taxonomy"] {
    display : block;
}

.tei div[xmltagname="term"] {
    font-family : sans-serif;
    color : black;
    background-color : inherit;
    display : inline;
}

.tei div[xmltagname="textClass"] {
    display : block;
}

.tei div[xmltagname="time"] {
    display : inline;
}

.tei div[xmltagname="title"] {
    display : inline;
}

.tei div[xmltagname="title"] {
    display : block;
    font-weight:normal;
}

.tei div[xmltagname="title"],
.tei div[xmltagname="title"] {
    font-style : italic;
}

.tei div[xmltagname="title"] {
    font-style : normal;
}

.tei div[xmltagname="title"],
.tei div[xmltagname="title"] {
    font-style : normal;
}

.tei div[xmltagname="seriesStmt"] >
.tei div[xmltagname="title"],
.tei div[xmltagname="titleStmt"] >
.tei div[xmltagname="title"] {
    color:gray;
    font-weight : bold;
}

.tei div[xmltagname="titlePage"] {
    display : block;
    border : thin black solid;
    text-align : center;
}

.tei div[xmltagname="titlePart"] {
    display : block;
}

.tei div[xmltagname="titleStmt"] {
    color : #333;
}

.tei div[xmltagname="trailer"] {
    display : block;
}

.tei div[xmltagname="unclear"] {
    display : inline;
    color : gray;
    background-color : inherit;
    font-style : italic;
}

.tei div[xmltagname="header-related"] .tei div[xmltagname="material"] .tei div[xmltagname="teiHeader"] {
    display : block;
    color : gray;
    background-color : rgb(251, 242, 234);
}

.tei div[xmltagname="teiHeader"]
.tei div[xmltagname="title"] {
    color:gray;
}

.tei div[xmltagname="titleStmt"] >
.tei div[xmltagname="author"] {
    display : block;
}

.tei div[xmltagname="authority"] {
    display : block;
}

.tei div[xmltagname="availability"] {
    display : block;
}

.tei div[xmltagname="fileDesc"] {
    display : block;
}

.tei div[xmltagname="sourceDesc"] {
    display : block;
    border : thin silver solid;
}

.tei div[xmltagname="sourceDesc"]
.tei div[xmltagname="p"] {
}

.tei div[xmltagname="revisionDesc"] {
    display : block;
}

.tei div[xmltagname="catDesc"] {
    display : block;
}

.tei div[xmltagname="encodingDesc"] {
    display : block;
}

.tei div[xmltagname="profileDesc"] {
    display : block;
}

.tei div[xmltagname="projectDesc"] {
    display : block;
}

.tei div[xmltagname="docDate"] {
    display : block;
}

.tei div[xmltagname="docImprint"]
.tei div[xmltagname="docDate"] {
    display : inline;
}

.tei div[xmltagname="docEdition"] {
    display : block;
}

.tei div[xmltagname="docImprint"] {
    display : block;
}

.tei div[xmltagname="docTitle"] {
    display : block;
    font-weight : bold;
    font-weight:bold;
}

.tei div[xmltagname="OUCS"] .tei div[xmltagname="additions"]
.tei div[xmltagname="Button"] {
    font-family : monospace;
    color : red;
    font-weight : bold;
    background-color : rgb(75%, 75%, 75%)
}

.tei div[xmltagname="Value"] {
    font-family : monospace;
    color : rgb(255, 102, 0);
    background-color : inherit;
}

.tei div[xmltagname="Code"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.tei div[xmltagname="Field"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.tei div[xmltagname="Filespec"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.tei div[xmltagname="Input"] {
    font-family : monospace;
    color : green;
    background-color : inherit;
}

.tei div[xmltagname="Key"] {
    font-family : monospace;
    text-decoration : underline;
    color : green;
    background-color : inherit;
}

.tei div[xmltagname="Link"] {
    font-family : monospace;
    color : green;
    background-color : inherit;
    text-decoration : underline;
}

.tei div[xmltagname="Menu"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.tei div[xmltagname="Output"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.tei div[xmltagname="Icon"] {
    color : inherit;
    background-color : #B0E0E6;
    font-weight : bold;
}

.tei div[xmltagname="Screen"] {
    font-family : monospace;
    display : block;
    white-space : pre;
    color : inherit;
    background-color : #FFCC99;
}

