
.context-dialog, .context-dialog > *{
    box-sizing: border-box;
    font-family: arial;
    font-size: small;
}

.context-dialog hr{
    border-color: #b1b1b1;
    height: 0px;
}

.context-item{
    position: relative;
    padding: 5px 10px 5px 10px;
    width: 100%;    
}

.context-dialog .context-item.inactive{
    color: #a0a0a0;
}

.context-dialog .context-item:not(.inactive):hover{
    background-color: #e1e1e1;
}

.context-dialog{
    position: absolute;
    z-index: 7500;  
    width: 275px;
    background-color: whitesmoke;
    border: 1px solid #a0a0a0;
    left: 500px;
    top: 500px;
    box-shadow: 5px 5px 20px #a0a0a0;
}

.context-subdialog{
    position: absolute;
    z-index: 7500;  
    width: 275px;
    background-color: whitesmoke;
    border: 1px solid #a0a0a0;
    left: 273px;
    top: -1px;
    box-shadow: 5px 5px 20px #a0a0a0;
}

.context-item > * {
    display: inline-block;
}

.context-item > .context-right-image {
    position: absolute;
    right: 5px;
    height: 60%;
}

.context-item > .context-left-image {
    position: absolute;
    left: 5px;
    height: 60%;
}

.pointer {
    cursor: pointer;
}

.context-item > .context-label{
    cursor: pointer;
    position: relative;
    left: 20px;
    width: 240px;
}

.context-help{
    display: none;
    position: fixed;
    border: 1px solid #a0a0a0;
    box-shadow: 5px 5px 20px #a0a0a0;
    background-color: whitesmoke;
    width: 400px;
}

.context-help > .title{
    background-color: #455372;
    color: white;
    text-align: center;
    font-size: larger;
}

.context-help > .contents{
    text-align: center;
    font-size: larger;
    margin: 20px;
    text-align: justify;
}