:root{
    --main-bg-color: #455372;
    --main-hover-color: #556382;
    --main-shadow-color: #c0c0df;
}

#menuContainer{
    /*position: absolute;*/
    font: Lato,Arial,Helvetica,sans-serif;
    color: #eeeeef;
    width: 100%;
    height: 75px;
    border-bottom: 2px solid black;
    background-color: var(--main-bg-color);
}

#menuInfo{
    position: absolute;
    width: 258px;
    text-align: center;
    border-right: 2px solid black;
    height: 100%;
}

#documentTitle{
    position: absolute;
    height: 40px;
    left: 262px;
    font-size: 30px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    /*-webkit-user-select: auto;*/
}

#menuBar{
    position: absolute;
    left: 260px;
    width: calc(85% - 20px);
    height: 33px;
    top: 40px;
    cursor: pointer;
    /*-webkit-user-select: none;*/
}

.menuTitle{
    position: relative;
    left: 4px;
    top: 4px;
}
