/Server/build/
/nidget/nbproject/private/
/Client
/Nidget

/DocumentNavigator/build/
/DocumentNavigator/dist/
/DocumentNavigator/dist/javadoc

/NERScriber/build/
/NERScriber/dist/
/NERScriber/dist/javadoc

/NerveService/dist/javadoc
/NerveService/web/coverage
/NerveService/dist/
/NerveService/build/