nervepxml{
}

nervephead{
    color: blue;
    display: block;
    white-space: pre;
}

nervepbody{
    display: block;
    white-space: pre;
}

nerveptail{
    display: block;
    white-space: pre;
}

