/* Generic Markups */
.xmltag[xmltagname="EVENTS"] {
    font-family : Georgia, serif;
    line-height : 1.5;
    color : #333;
    margin : 10px 25px;
}
.xmltag[xmltagname="ORLANDOHEADER"] {
    font-size : 16px;
    display : block;
    background : #EEE;
    margin-bottom: 1.5em;
    padding: .5em;
}
.xmltag[xmltagname="FILEDESC"] {
    /*    content : url(img/orlando/CWRC_logo.png);*/
    background-color : #FFF;
    color : gray;
}
.xmltag[xmltagname="DOCTITLE"] {
    font-weight : normal;
    color : black;
    color:gray;
    font-weight:bold;
}
.xmltag[xmltagname="DOCAUTHOR"],
.xmltag[xmltagname="DOCEDITOR"],
.xmltag[xmltagname="DOCEXTENT"],
.xmltag[xmltagname="PUBLICATIONSTMT"],
.xmltag[xmltagname="TITLESTMT"],
.xmltag[xmltagname="PUBPLACE"] {
    display : block;
}
.xmltag[xmltagname="RESPONSIBILITY"] {
    font-family : Verdana, Geneva, sans-serif;
    font-size : small;
    background-color : #F0EDFC;
    display : list-item;
}
.xmltag[xmltagname="EMPH"] {
    font-style : italic;
}
.xmltag[xmltagname="FOREIGN"] {
    font-style : italic;
}
.xmltag[xmltagname="TITLE"][TITLETYPE = "MONOGRAPHIC"],
.xmltag[xmltagname="TITLE"][TITLETYPE = "JOURNAL"] {
    font-style : italic;
    color : #336699;
}
.xmltag[xmltagname="TITLE"][TITLETYPE = "SERIES"] {
    font-style : normal;
    color : #336699;
}
.xmltag[xmltagname="TITLE"][TITLETYPE = "ANALYTIC"],
.xmltag[xmltagname="TITLE"][TITLETYPE = "UNPUBLISHED"] {
    font-style : normal;
    color : #336699;
}
.xmltag[xmltagname="TITLE"][TITLETYPE = "ANALYTIC"]:before,
.xmltag[xmltagname="TITLE"][TITLETYPE = "UNPUBLISHED"]:before {
    content : open-quote;
}
.xmltag[xmltagname="TITLE"][TITLETYPE = "ANALYTIC"]:after,
.xmltag[xmltagname="TITLE"][TITLETYPE = "UNPUBLISHED"]:after {
    content : close-quote;
}
.xmltag[xmltagname="ADDRLINE"] {
    display : list-item;
}
.xmltag[xmltagname="IDNO"] {
    display : list-item;
}
.xmltag[xmltagname="AVAILABILITY"] {
    display : inline;
}
.xmltag[xmltagname="P"] {
    display : block;
}
.xmltag[xmltagname="RESEARCHNOTE"] {
    background-color : #FBEFEF;
    color : #663366;
    font-family : Arial, Helvetica, sans-serif;
    font-size : smaller;
    display : list-item;
}
.xmltag[xmltagname="DIV0"] .xmltag[xmltagname="HEADING"] {
    display : list-item;
    font-weight : bold;
    font-size : x-large;
    color : #039;
    margin : 25px 0 0 0;
}
.xmltag[xmltagname="DIV1"] {
    margin : 20px 0 0 0;
}
.xmltag[xmltagname="DIV1"] .xmltag[xmltagname="HEADING"] {
    display : block;
    font-weight : bold;
    font-size : large;
    color : #039;
}
.xmltag[xmltagname="CHRONEVENT"] {
    display : block;
    margin : 15px 0;
}
.xmltag[xmltagname="CHRONSTRUCT"] {
    display : block;
    padding : 0 0 0 30px;
}
.xmltag[xmltagname="CHRONSTRUCT"] .xmltag[xmltagname="DATE"] {
    font-weight : bold;
    display : inline;
}
.xmltag[xmltagname="CHRONSTRUCT"] .xmltag[xmltagname="DATE"]:after {
    content : ": ";
}
.xmltag[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "WOMENWRITERS"] {
    background-repeat : no-repeat;
}

.xmltag[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "NATIONALINTERNATIONAL"] {
    background-repeat : no-repeat;
}

.xmltag[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "SOCIALCLIMATE"] {
    background-repeat : no-repeat;
}

.xmltag[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "WRITINGCLIMATE"] {
    background-repeat : no-repeat;
}

.xmltag[xmltagname="SHORTPROSE"] .xmltag[xmltagname="P"] {
    padding-left : 4em;
    margin : 10px 0 0 0;
}

.xmltag[xmltagname="BIBCIT"]:before {
    content : "(";
}
.xmltag[xmltagname="BIBCIT"]:after {
    content : ")";
}
.xmltag[xmltagname="SCHOLARNOTE"] .xmltag[xmltagname="P"] {
    background-color : #E0E0F8;
}
.xmltag[xmltagname="NAME"] {
    color : #336699;
}
.xmltag[xmltagname="ORGNAME"] {
    color : #336699;
}
.xmltag[xmltagname="AREA"] {
    font-weight : bold;
    color : #336699;
}
.xmltag[xmltagname="TOPIC"] {
    font-weight : bold;
    color : #336699;
}
.xmltag[xmltagname="QUOTE"]:before {
    content : open-quote;
}
.xmltag[xmltagname="QUOTE"]:after {
    content : close-quote;
}
.xmltag[xmltagname="QUOTE"][DIRECT = "N"]:before {
    content : "'";
}
.xmltag[xmltagname="QUOTE"][DIRECT = "N"]:after {
    content : "'";
}
.xmltag[xmltagname="SOCALLED"]:before {
    content : "'";
}
.xmltag[xmltagname="SOCALLED"]:after {
    content : "'";
}