/* Tagged Entity specific markups */
.taggedentity, .xmltag{
    /*position: relative;*/
    display: inline;
    z-index: 1;
}

.taggedentity{
    text-decoration: underline red;
}

.taggedentity.linked{
    text-decoration: underline green;
}

.selected{
    background-color: yellow;
    color: black;
}

#tagnamePanel > .tagname{
    position: absolute;
    color: red;
    text-align: center;
    font-variant: small-caps;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
    cursor: pointer;
    pointer-events: none;
}


#tagnamePanel > .tagname.linked{
    color: green;
}

.taggedentity.selected:hover{
    background-color: #d8ff00;
    cursor: pointer;
}

.taggedentity:hover{
    background-color: lightblue;
    cursor: pointer;
}