/* Tagged Entity specific markups */

.taggedentity,
.xmltag{
    position: relative;
    display: inline;
    z-index: 1;
}

.taggedentity > *{
    z-index: 1;
}

.tagname-markup, .contents{
    display: inline-block;
}

.linked > .tagname-markup{
    color: green;
}

.unlinked > .tagname-markup{
    color: orangered;
}

.tagname-markup{
    position: absolute;
    display: inline-block;
    color: red;
    top: 8px;
    left: 1px;
    font-size: 10px;
    font-variant: small-caps;
}

.taggedentity[data-hasbg="false"] > .tagname-markup{
    position: absolute;
    display: none;
    color: red;
    top: 8px;
    left: 1px;
    font-size: 10px;
    font-variant: small-caps;
}

.taggedentity.selected .tagname-markup, .taggedentity:hover .tagname-markup{
    display: inline-block;
}

.taggedentity.selected, .taggedentity:hover{
    text-decoration: underline;
}

.format-default .taggedentity.selected:hover{
    background-color: #d8ff00;
    cursor: pointer;
}

.format-default .taggedentity:hover{
    background-color: lightblue;
    cursor: pointer;
}

.taggedentity[xmltagname="LOCATION"]{
    background: linear-gradient(rgba(0, 0, 0, 0.0),  rgba(200, 200, 255, 0.75));
}

.taggedentity.selected[xmltagname="LOCATION"],
.taggedentity[xmltagname="LOCATION"]:hover,
.taggedentity[xmltagname="LOCATION"] + .contents:hover{
    background: linear-gradient(rgba(200, 200, 255, 0.75), rgba(255, 255, 0, 0.75));
}

.taggedentity[xmltagname="PERSON"]{
    background: linear-gradient(rgba(0, 0, 0, 0.0),  rgba(200, 255, 200, 0.9));
}

.taggedentity.selected[xmltagname="PERSON"],
.taggedentity[xmltagname="PERSON"]:hover,
.taggedentity[xmltagname="PERSON"] + .contents:hover{
    background: linear-gradient(rgba(200, 255, 200, 0.9), rgba(255, 255, 0, 0.75));
}

.taggedentity[xmltagname="ORGANIZATION"]{
    background: linear-gradient(rgba(0, 0, 0, 0.0),  rgba(128, 255, 255, 0.75));
}

.taggedentity.selected[xmltagname="ORGANIZATION"],
.taggedentity[xmltagname="ORGANIZATION"]:hover,
.taggedentity[xmltagname="ORGANIZATION"] + .contents:hover{
    background: linear-gradient(rgba(128, 255, 255, 0.75), rgba(255, 255, 0, 0.75));
}

.taggedentity[xmltagname="TITLE"]{
    background: linear-gradient(rgba(0, 0, 0, 0.0),  rgba(255, 128, 128, 0.5));
}

.taggedentity.selected[xmltagname="TITLE"],
.taggedentity[xmltagname="TITLE"]:hover,
.taggedentity[xmltagname="TITLE"] + .contents:hover{
    background: linear-gradient(rgba(255, 128, 128, 0.5), rgba(255, 255, 0, 0.75));
}
