/* include this css file to show the tag-name around tags                       */
/* this file is attached and detached in view when overlay/tag mode is selected */

.xmltag:before{
    content: "<" attr(xmltagname) ">";
    font-size: small;
}

.xmltag:after{
    content: "</" attr(xmltagname) ">";
    font-size: small;
}

.taggedentity:before{
    content: "<" attr(xmltagname) ">";
    font-size: small;
    font-weight: bold;
    color: red;
}

.taggedentity:after{
    content: "</" attr(xmltagname) ">";
    font-size: small;
    font-weight: bold;
    color: red;
}

.linked.taggedentity:before{
    content: "<" attr(xmltagname) ">";
    font-size: small;
    font-weight: bold;
    color: green;
}

.linked.taggedentity:after{
    content: "</" attr(xmltagname) ">";
    font-size: small;
    font-weight: bold;
    color: green;
}
