/* include this css file to show the tag-name around tags */

.xmltag:before{
    content: "<" attr(xmltagname) ">";
    font-size: small;
}

.xmltag:after{
    content: "</" attr(xmltagname) ">";
    font-size: small;
}

.xmltag:hover:before{
    content: "<" attr(xmltagname) ">";
    color: red;
    font-size: small;
}

.xmltag:hover:after{
    content: "</" attr(xmltagname) ">";
    color: red;
    font-size: small;
}