.xmltag[xmltagname="TEI"] {
    margin : 10px 25px;
    font-family : Georgia, serif;
    line-height : 1.5;
}

.xmltag[xmltagname="abbr"] {
    display : inline;
}

.xmltag[xmltagname="add"] {
    display : inline;
    text-decoration : underline;
}

.xmltag[xmltagname="anchor"] {
    display : none;
}

.xmltag[xmltagname="argument"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="att"] {
    display : inline;
    font-family : sans-serif;
}

.xmltag[xmltagname="author"] {
    display : inline;
}

.xmltag[xmltagname="back"] {
    display : block;
    border : thin black solid;
    margin-top : 1em;
    padding-top : 0.5em;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-bottom : 0.5em;
}

.xmltag[xmltagname="bibl"] {
    display : inline;
}

.xmltag[xmltagname="div"] {
    text-indent: -2em;
    margin:0 0 0 2em;
}

.xmltag[xmltagname="bibl"]>
.xmltag[xmltagname="note"] {
    display : inline;
}

.xmltag[xmltagname="bibl"]>
.xmltag[xmltagname="title"] {
    content: "Alternate Title: " !important;
}

.xmltag[xmltagname="bibl"]>
.xmltag[xmltagname="title"] {
    content: "";
}

.xmltag[xmltagname="argument"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="body"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="cit"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="div"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="div0"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="div1"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="div2"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="div3"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="div4"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="div5"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="div6"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="div7"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="epigraph"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="list"]
.xmltag[xmltagname="ibl"]>
.xmltag[xmltagname="bibl"]>
.xmltag[xmltagname="bibl"],
.xmltag[xmltagname="taxonomy"]>
.xmltag[xmltagname="bibl"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="biblFull"] {
    display : inline;
}

.xmltag[xmltagname="argument"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="body"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="cit"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="div"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="div0"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="div1"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="div2"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="div3"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="div4"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="div5"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="div6"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="div7"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="epigraph"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="listBibl"]>
.xmltag[xmltagname="biblFull"]>
.xmltag[xmltagname="biblFull"],
.xmltag[xmltagname="taxonomy"]>
.xmltag[xmltagname="biblFull"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="biblScope"] {
    display : inline;
}

.xmltag[xmltagname="imprint"]>
.xmltag[xmltagname="biblScope"] {
    display : block;
}

.xmltag[xmltagname="body"] {
    margin-top : 5px;
    padding : 0 2em 0 0;
    display : block;
    counter-reset : div1;
}

.xmltag[xmltagname="byline"] {
    display : block;
    font-style : italic;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="category"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="catRef"] {
    display : none;
}

.xmltag[xmltagname="cell"] {
    display : table-cell;
    border : 1px solid #EEEFEE;
    padding : 3px;
}

.xmltag[xmltagname="change"] {
    display : block;
    margin-bottom : 1em;
    margin-left : 2em;
}

.xmltag[xmltagname="cit"] {
    display : inline;
}

.xmltag[xmltagname="argument"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="body"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="div0"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="div1"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="div2"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="div3"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="div4"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="div5"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="div6"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="div7"] >
.xmltag[xmltagname="cit"] ,
.xmltag[xmltagname="epigraph"] >
.xmltag[xmltagname="cit"] {
    display : block;
    margin-bottom : 0.5em;
    margin-top : 0.5em;
}

.xmltag[xmltagname="classCode"] {
    display : block;
}

.xmltag[xmltagname="elementSpec"],
.xmltag[xmltagname="macroSpec"],
.xmltag[xmltagname="classSpec"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="closer"] {
    display : block;
    margin-bottom : 1em;
    width : 95%;
}

.xmltag[xmltagname="code"] {
    display : inline;
    font-family : monospace;
}

.xmltag[xmltagname="corr"] {
    display : inline;
}

.xmltag[xmltagname="creation"] {
    display : block;
}

.xmltag[xmltagname="date"] {
    display : inline;
}

.xmltag[xmltagname="change"]>
.xmltag[xmltagname="date"],
.xmltag[xmltagname="publicationStmt"]>
.xmltag[xmltagname="date"] {
    display : block;
    font-weight : bold;
}

.xmltag[xmltagname="dateline"] {
    display : inline;
}

.xmltag[xmltagname="del"] {
    display : inline;
    color : red;
    background-color : inherit;
    text-decoration : line-through;
}

.xmltag[xmltagname="distributor"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="body"]>
.xmltag[xmltagname="div"] {
    display : block;
    counter-increment : div1;
    counter-reset : div2;
    margin : 0 0 1.5em 0;
}

.xmltag[xmltagname="body"] >
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="div"] {
    display : block;
    margin-bottom : 1em;
    counter-increment : div2;
    counter-reset : div3;
}

.xmltag[xmltagname="body"] >
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="div"] {
    display : block;
    margin-bottom : 1em;
    counter-increment : div3;
}

.xmltag[xmltagname="body"] >
.xmltag[xmltagname="div"] {
    margin-bottom : 2em !important;
}

.xmltag[xmltagname="div"] {
    counter-reset:line;
}

.xmltag[xmltagname="div1"] {
    display : block;
    margin-bottom : 1em;
    counter-increment : div1;
    counter-reset : div2;
}

.xmltag[xmltagname="div2"] {
    display : block;
    margin-bottom : 1em;
    counter-increment : div2;
    counter-reset : div3;
}

.xmltag[xmltagname="div3"] {
    display : block;
    margin-bottom : 1em;
    counter-increment : div3;
    counter-reset : div4;
}

.xmltag[xmltagname="div4"] {
    display : block;
    margin-bottom : 1em;
    counter-increment : div4;
    counter-reset : div5;
}

.xmltag[xmltagname="div5"] {
    display : block;
    margin-bottom : 1em;
    counter-increment : div5;
    counter-reset : div6;
}

.xmltag[xmltagname="div6"] {
    display : block;
    margin-bottom : 1em;
    counter-increment : div6;
    counter-reset : div7;
}

.xmltag[xmltagname="div7"] {
    display : block;
    margin-bottom : 1em;
    counter-increment : div7;
}

.xmltag[xmltagname="divGen"] {
    display : none;
}

.xmltag[xmltagname="docAuthor"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="byline"]
.xmltag[xmltagname="docAuthor"] {
    display : inline;
}


.xmltag[xmltagname="edition"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="bibl"]
.xmltag[xmltagname="edition"] {
    display : inline;
}

.xmltag[xmltagname="editionStmt"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="editor"] {
    display : block;
}

.xmltag[xmltagname="bibl"]
.xmltag[xmltagname="editor"] {
    display : inline;
}

.xmltag[xmltagname="eg"] {
    font-family : monospace;
    padding-top : 3mm;
    padding-left : 4pt;
    padding-bottom : 2pt;
    display : block;
    margin-top : 12pt;
    margin-bottom : 12pt;
    white-space : pre;
    color : inherit;
    background-color : #FFCC99;
}

.xmltag[xmltagname="argument"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="body"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="div0"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="div1"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="div2"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="div3"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="div4"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="div5"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="div6"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="div7"] >
.xmltag[xmltagname="eg"],
.xmltag[xmltagname="epigraph"] >
.xmltag[xmltagname="eg"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="emph"] {
    display : inline;
    font-style : italic;
}

.xmltag[xmltagname="epigraph"] {
    display : block;
    margin-bottom : 1em;
    text-align : center;
}

.xmltag[xmltagname="extent"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="bibl"]
.xmltag[xmltagname="extent"] {
    display : inline;
}

.xmltag[xmltagname="graphic"] {
    color : gray;
    background-color : inherit;
    content : "{" attr(url) "}";
}

.xmltag[xmltagname="figure"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="foreign"] {
    display : inline;
    font-style : italic;
}

.xmltag[xmltagname="formula"] {
    display : inline;
    font-style : italic;
}

.xmltag[xmltagname="front"] {
    display : block;
    margin-bottom : 1em;
    padding-top : 0.5em;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-bottom : 0.5em;
}

.xmltag[xmltagname="funder"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="gap"] {
    display : none;
}

.xmltag[xmltagname="gi"],
.xmltag[xmltagname="tag"] {
    display : inline;
    font-family : sans-serif;
    color : black;
    background-color : inherit;
}

.xmltag[xmltagname="gloss"] {
    display : inline;
}

.xmltag[xmltagname="group"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="body"] >
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="head"] {
    display : block;
    padding-top : 7px;
    padding-bottom : 10px;
    color : inherit;
    font-weight : bold;
    margin-bottom : 0.5em;
    margin-top : 1em;
    font-size : 18px;
}

.xmltag[xmltagname="body"] >
.xmltag[xmltagname="div"] >
head .xmltag[xmltagname="author"] {
    font-weight:normal;
}

.xmltag[xmltagname="body"] >
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="head"] {
    display : block;
    padding-top : 14px;
    padding-bottom : 10px;
    padding-left : 10px;
    color : inherit;
    background-color : #BBBBBB;
    font-weight : bold;
    margin-bottom : 0.5em;
    margin-top : 11px;
}

.xmltag[xmltagname="body"] >
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="head"] {
    display : block;
    padding-top : 14px;
    padding-bottom : 10px;
    padding-left : 10px;
    color : inherit;
    background-color : #BBBBBB;
    font-weight : bold;
    margin-bottom : 0.5em;
    margin-top : 1em;
}

.xmltag[xmltagname="div"]
.xmltag[xmltagname="opener"]
.xmltag[xmltagname="dateline"] {
    display : block;
    text-align : right;
    width : 95%;
}

.xmltag[xmltagname="hi"] {
    display : inline;
    background-color : yellow;
    color : black;
}

.xmltag[xmltagname="hi"] {
    background-color : inherit;
    color : inherit;
}

.xmltag[xmltagname="hi"] {
    display : inline;
    font-weight : bold;
}

.xmltag[xmltagname="hi"] {
    display : inline;
    font-style : italic;
}

.xmltag[xmltagname="hi"] {
    display : inline;
    text-decoration : underline;
}

.xmltag[xmltagname="hi"] {
    display : inline;
    font-style : italic;
}

.xmltag[xmltagname="hi"] {
    display : inline;
    font-variant : small-caps;
}

.xmltag[xmltagname="hi"] {
    display : inline;
    vertical-align : super;
    font-size : smaller;
}

.xmltag[xmltagname="hi"] {
    display : inline;
    vertical-align : sub;
    font-size : smaller;
}

.xmltag[xmltagname="hi"] {
    display : inline;
    text-decoration : underline;
}

.xmltag[xmltagname="ident"] {
    display : inline;
    font-family : monospace;
}

.xmltag[xmltagname="idno"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="bibl"]
.xmltag[xmltagname="idno"] {
    display : inline;
}

.xmltag[xmltagname="imprint"] {
    display : inline;
}

.xmltag[xmltagname="index"] {
    display : none;
}

.xmltag[xmltagname="interp"] {
    display : none;
}

.xmltag[xmltagname="interpGrp"] {
    display : none;
}

.xmltag[xmltagname="list"]
.xmltag[xmltagname="item"] {
    display : block;
    margin-left : 1em;
}

.xmltag[xmltagname="list"]
.xmltag[xmltagname="item"] {
    display : list-item;
    margin-left : 12pt;
}

.xmltag[xmltagname="item"] {
    display : list-item;
    margin-left : 12pt;
}

.xmltag[xmltagname="change"]
.xmltag[xmltagname="item"] {
    display : block;
    margin-bottom : 0.5em;
    margin-left : 1em;
    margin-top : 0.5em;
}

.xmltag[xmltagname="keywords"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="kw"] {
    display : inline;
    font-style : italic;
}

.xmltag[xmltagname="l"] {
    display : block;
    white-space : nowrap;
}

.xmltag[xmltagname="label"] {
    display : inline;
    font-weight : bold;
}

.xmltag[xmltagname="Label"] {
    display : inline;
    font-weight : bold;
    color : #2F4F4F;
    background-color : inherit;
}

.xmltag[xmltagname="argument"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="body"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="div0"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="div1"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="div2"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="div3"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="div4"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="div5"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="div6"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="div7"] >
.xmltag[xmltagname="label"] ,
.xmltag[xmltagname="epigraph"] >
.xmltag[xmltagname="label"] {
    display : block;
    font-weight : bold;
}

.xmltag[xmltagname="langUsage"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="lb"] {
    display : block;
}

.xmltag[xmltagname="lg"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="list"] {
    display : block;
    list-style-type : disc;
    list-style-position : outside;
    margin-bottom : 1em;
    margin-left : 2em;
    margin-top : 1em;
}

.xmltag[xmltagname="list"] {
    display : inline;
}

.xmltag[xmltagname="list"] {
    list-style-type : disc;
    list-style-position : outside;
}

.xmltag[xmltagname="list"] {
    list-style-type : disc;
    list-style-position : outside;
}

.xmltag[xmltagname="list"] {
    list-style-type : decimal;
    list-style-position : outside;
}

.xmltag[xmltagname="list"] {
    list-style-type : decimal;
    list-style-position : outside;
}

.xmltag[xmltagname="list"] {
    list-style-type : none;
}

.xmltag[xmltagname="listBibl"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="mentioned"] {
    display : inline;
    font-style : italic;
}

.xmltag[xmltagname="milestone"] {
    display : none;
}

.xmltag[xmltagname="name"] {
    display : inline;
}

.xmltag[xmltagname="note"] {
    display : block;
    color:#999;
}

.xmltag[xmltagname="opener"]
.xmltag[xmltagname="note"] {
    display : block;
    color:#999;
}

.xmltag[xmltagname="div"]
.xmltag[xmltagname="note"]
.xmltag[xmltagname="persName"], .xmltag[xmltagname="div"] .xmltag[xmltagname="note"] .xmltag[xmltagname="orgName"], .xmltag[xmltagname="div"] .xmltag[xmltagname="note"] .xmltag[xmltagname="title"], .xmltag[xmltagname="div"] .xmltag[xmltagname="note"] .xmltag[xmltagname="placeName"] {
    color:#6DB0CC !important;
}

.xmltag[xmltagname="note"] {
    float : left;
}

.xmltag[xmltagname="note"] {
    float : right;
}

.xmltag[xmltagname="note"],
.xmltag[xmltagname="note"] {
    display : inline;
}

.xmltag[xmltagname="notesStmt"] {
    display : block;
}

.xmltag[xmltagname="num"] {
    display : inline;
}

.xmltag[xmltagname="opener"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="opener"]
.xmltag[xmltagname="p"] {
    text-align : justify !important;
    text-indent : 0 !important;
}

.xmltag[xmltagname="orig"] {
    display : inline;
}

.xmltag[xmltagname="p"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="pb"] {
    display : none;
}

.xmltag[xmltagname="div"]
.xmltag[xmltagname="persName"], .xmltag[xmltagname="div"] .xmltag[xmltagname="placeName"], .xmltag[xmltagname="div"] .xmltag[xmltagname="orgName"], .xmltag[xmltagname="div"] .xmltag[xmltagname="title"] {
    color: #336699;
}

.xmltag[xmltagname="principal"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="ptr"] {
    color : navy;
    text-decoration : underline;
    background-color : inherit;
}

.xmltag[xmltagname="publicationStmt"] {
        display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="publicationStmt"]
.xmltag[xmltagname="p"] {
    display : block;
    margin-bottom : 0;
}

.xmltag[xmltagname="publisher"] {
    display : inline;
}

.xmltag[xmltagname="imprint"] >
.xmltag[xmltagname="publisher"],
.xmltag[xmltagname="publicationStmt"] >
.xmltag[xmltagname="publisher"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="pubPlace"] {
    display : inline;
}

.xmltag[xmltagname="imprint"] >
.xmltag[xmltagname="pubPlace"],
.xmltag[xmltagname="publicationStmt"] >
.xmltag[xmltagname="pubPlace"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="q"] {
    display : inline;
    quotes : '"' '"' "'" "'";
    margin-top : 0em;
    margin-left : 0em;
    margin-right : 0em;
    margin-bottom : 0em;
}

.xmltag[xmltagname="q"],
.xmltag[xmltagname="argument"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="body"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="cit"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="div"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="div0"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="div1"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="div2"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="div3"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="div4"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="div5"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="div6"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="div7"] >
.xmltag[xmltagname="q"],
.xmltag[xmltagname="epigraph"] >
.xmltag[xmltagname="q"] {
    display : block;
    margin-bottom : 0.5em;
    margin-left : 3em;
    margin-right : 3em;
    quotes : none;
}

.xmltag[xmltagname="ref"] {
    display : inline;
    color : black;
    background-color : inherit;
}

.xmltag[xmltagname="reg"] {
    display : inline;
    font-style : italic;
}

.xmltag[xmltagname="rendition"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="resp"] {
    display : block;
}

.xmltag[xmltagname="respStmt"] {
    display : block;
    margin-left:1em;
}

.xmltag[xmltagname="bibl"]
.xmltag[xmltagname="respStmt"] {
    display : inline;
}

.xmltag[xmltagname="row"] {
    display : table-row;
}

.xmltag[xmltagname="row"] {
    color : inherit;
    background-color : #BBBBBB;
}

.xmltag[xmltagname="rs"] {
    display : inline;
}

.xmltag[xmltagname="s"] {
    display : inline;
}

.xmltag[xmltagname="salute"] {
    display : block;
    margin-bottom : 0.5em;
    margin-top : 1em;
}

.xmltag[xmltagname="samplingDecl"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="seg"] {
    display : inline;
}

.xmltag[xmltagname="seriesStmt"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="sic"] {
    display : inline;
    color : red;
    background-color : inherit;
}

.xmltag[xmltagname="signed"] {
    display : block;
    text-align : right;
}

.xmltag[xmltagname="soCalled"] {
    display : inline;
    font-style : italic;
    quotes : "'" "'";
}

.xmltag[xmltagname="sp"] {
    display : block;
    margin-bottom : 0.5em;
    margin-left : 2em;
}

.xmltag[xmltagname="div"]
.xmltag[xmltagname="p"] {
    text-align : justify;
    text-indent : 30px;
}

.xmltag[xmltagname="speaker"] {
    display : inline;
    font-weight : bold;
}

.xmltag[xmltagname="sponsor"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="stage"] {
    display : inline;
    font-style : italic;
}

.xmltag[xmltagname="table"] {
    text-align : center;
    display : table;
    margin : 1em
}

.xmltag[xmltagname="table"] >
.xmltag[xmltagname="head"] {
    display : table-caption;
    font-style : italic;
    margin-bottom : 6pt;
}

.xmltag[xmltagname="tagUsage"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="taxonomy"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="term"] {
    font-family : sans-serif;
    color : black;
    background-color : inherit;
    display : inline;
}

.xmltag[xmltagname="textClass"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="time"] {
    display : inline;
}

.xmltag[xmltagname="title"] {
    display : inline;
}

.xmltag[xmltagname="title"] {
    display : block;
    font-weight:normal;
}

.xmltag[xmltagname="title"],
.xmltag[xmltagname="title"] {
    font-style : italic;
}

.xmltag[xmltagname="title"] {
    font-style : normal;
}

.xmltag[xmltagname="title"],
.xmltag[xmltagname="title"] {
    font-style : normal;
}

.xmltag[xmltagname="seriesStmt"] >
.xmltag[xmltagname="title"],
.xmltag[xmltagname="titleStmt"] >
.xmltag[xmltagname="title"] {
    color:gray;
    font-weight : bold;
}

.xmltag[xmltagname="titlePage"] {
    display : block;
    border : thin black solid;
    margin-bottom : 2em;
    text-align : center;
    padding-top : 1em;
    padding-left : 1em;
    padding-right : 1em;
    padding-bottom : 1em;
}

.xmltag[xmltagname="titlePart"] {
    display : block;
}

.xmltag[xmltagname="titleStmt"] {
    margin-bottom : 1em;
    color : #333;
}

.xmltag[xmltagname="trailer"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="unclear"] {
    display : inline;
    color : gray;
    background-color : inherit;
    font-style : italic;
}

 .xmltag[xmltagname="header-related"] .xmltag[xmltagname="material"]
.xmltag[xmltagname="teiHeader"] {
    display : block;
    color : gray;
    background-color : rgb(251, 242, 234);
    padding : .5em;
}

.xmltag[xmltagname="teiHeader"]
.xmltag[xmltagname="title"] {
    color:gray;
}

.xmltag[xmltagname="titleStmt"] >
.xmltag[xmltagname="author"] {
    display : block;
    margin-left : 1em;
}

.xmltag[xmltagname="authority"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="availability"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="fileDesc"] {
        display : block;
    margin-bottom : .5em;
}

.xmltag[xmltagname="sourceDesc"] {
        display : block;
    border : thin silver solid;
    padding : .5em .5em 0 .5em;
}

.xmltag[xmltagname="sourceDesc"]
.xmltag[xmltagname="p"] {
    margin : 0;
}

.xmltag[xmltagname="revisionDesc"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="catDesc"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="encodingDesc"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="profileDesc"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="projectDesc"] {
    display : block;
    margin-bottom : 1em;
}

.xmltag[xmltagname="docDate"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="docImprint"]
.xmltag[xmltagname="docDate"] {
    display : inline;
}

.xmltag[xmltagname="docEdition"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="docImprint"] {
    display : block;
    margin-bottom : 0.5em;
}

.xmltag[xmltagname="docTitle"] {
    display : block;
    font-weight : bold;
    margin-bottom : 0.5em;
    font-weight:bold;
}

.xmltag[xmltagname="OUCS"] .xmltag[xmltagname="additions"]
.xmltag[xmltagname="Button"] {
    font-family : monospace;
    color : red;
    font-weight : bold;
    background-color : rgb(75%, 75%, 75%)
}

.xmltag[xmltagname="Value"] {
    font-family : monospace;
    color : rgb(255, 102, 0);
    background-color : inherit;
}

.xmltag[xmltagname="Code"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.xmltag[xmltagname="Field"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.xmltag[xmltagname="Filespec"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.xmltag[xmltagname="Input"] {
    font-family : monospace;
    color : green;
    background-color : inherit;
}

.xmltag[xmltagname="Key"] {
    font-family : monospace;
    text-decoration : underline;
    color : green;
    background-color : inherit;
}

.xmltag[xmltagname="Link"] {
    font-family : monospace;
    color : green;
    background-color : inherit;
    text-decoration : underline;
}

.xmltag[xmltagname="Menu"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.xmltag[xmltagname="Output"] {
    font-family : monospace;
    color : red;
    background-color : inherit;
}

.xmltag[xmltagname="Icon"] {
    color : inherit;
    background-color : #B0E0E6;
    font-weight : bold;
}

.xmltag[xmltagname="Screen"] {
    font-family : monospace;
    padding-top : 3mm;
    padding-left : 4pt;
    padding-bottom : 2pt;
    display : block;
    margin-top : 12pt;
    margin-bottom : 12pt;
    white-space : pre;
    color : inherit;
    background-color : #FFCC99;
}
