/* Tagged Entity specific markups */

.taggedentity,
.xmltag{
    position: relative;
    display: inline;
    z-index: 1;
}

.taggedentity > *{
    z-index: 1;
}

.tagname-markup, .contents{
    display: inline-block;
}

.taggedentity.selected .tagname-markup, .taggedentity:hover .tagname-markup{
    display: inline-block;    
}

#entityPanel[data-mode="entity"] .tagname-markup{
    position: absolute;
    display: inline-block;
    color: red;
    top: 8px;
    left: 1px;
    font-size: 10px;
    font-variant: small-caps;
}

#entityPanel[data-mode="tag"]{
    white-space: pre;
    
    .tagname-markup{
        display: none;
    }
        
    .taggedentity::before{
        content: "<" attr(xmltagname) " lemma='" attr(data-lemma) "' link='" attr(data-link) "'>";
        color: #000077;
        font-size: 0.8em;
        font-weight: bold;
    }
    
    .taggedentity::after{
        content: "</" attr(xmltagname) ">";
        color: #000077;
        font-size: 0.8em;
        font-weight: bold;
    }
    
    .taggedentity{
        color: #202020;
    }    
    
    .taggedentity.selected, .taggedentity:hover{
        background-color:  rgba(255, 255, 0, 0.4);   
        cursor: pointer;
    }    
 
    .taggedentity.selected:hover{
        background-color:  rgba(255, 255, 0, 1.0);   
        cursor: pointer;
    }    
    
    .xmltag::before{
        content: "<" attr(xmltagname) ">";
        color: #000000;
        font-size: 0.8em;
        font-weight: bold;
    }
    
    .xmltag::after{
        content: "</" attr(xmltagname) ">";
        color: #000000;
        font-size: 0.8em;
        font-weight: bold;
    }
    
    .xmltag{
        color: #202020;
    }
}

@mixin tag-toggle-on($tag, $colorNormal){
    #{".taggedentity[xmltagname='" + $tag + "']"}{    
        background: linear-gradient(rgba(0, 0, 0, 0.0),  $colorNormal);
    }

    #{".taggedentity.selected[xmltagname='" + $tag + "']"},
    #{".taggedentity[xmltagname='" + $tag + "']:hover"},
    #{".taggedentity[xmltagname='" + $tag + "'] + .contents:hover"}{
        cursor: pointer;
        background: linear-gradient($colorNormal, rgba(255, 255, 0, 0.75));
    }
}

@mixin tag-toggle-off($tag){
    #{".taggedentity[xmltagname='" + $tag + "'] .tagname-markup"}{
        display: none;
    }
}

#entityPanel[data-mode="entity"]:not([data-hide-location='true']){
    @include tag-toggle-on(LOCATION, rgba(200, 200, 255, 0.75));
}

#entityPanel[data-mode="entity"]:not([data-hide-person='true']){
    @include tag-toggle-on(PERSON, rgba(200, 255, 200, 0.9));
}

#entityPanel[data-mode="entity"]:not([data-hide-organization='true']){
    @include tag-toggle-on(ORGANIZATION, rgba(200, 200, 255, 0.75));
}

#entityPanel[data-mode="entity"]:not([data-hide-title='true']){
    @include tag-toggle-on(TITLE, rgba(200, 200, 255, 0.75));
}

#entityPanel[data-hide-location='true']{
    @include tag-toggle-off(LOCATION);
}

#entityPanel[data-hide-person='true']{
    @include tag-toggle-off(PERSON);
}

#entityPanel[data-hide-organization='true']{
    @include tag-toggle-off(ORGANIZATION);
}

#entityPanel[data-hide-title='true']{
    @include tag-toggle-off(TITLE);
}