
.show-tags .xmltag:before{
    content: "<" attr(xmltagname) ">";
    font-size: small;
    color: darkgray;
    font-weight: normal;
}

.show-tags .xmltag:after{
    content: "</" attr(xmltagname) ">";
    font-size: small;
    color: darkgray;
    font-weight: normal;
}

.show-tags .xmltag:hover:before,
.show-tags .xmltag:hover:after{
    color: blue;
}

.show-tags .taggedentity{
    color: red;
}

.show-tags .taggedentity:before{
    content: "<" attr(xmltagname) ">";
    font-size: small;
    font-weight: bold;
    color: red;
}

.show-tags .taggedentity:after{
    content: "</" attr(xmltagname) ">";
    font-size: small;
    font-weight: bold;
    color: red;
}

.show-tags .linked.taggedentity{
    color: green;
}

.show-tags .linked.taggedentity:before{
    content: "<" attr(xmltagname) ">";
    font-size: small;
    font-weight: bold;
    color: green;
}

.show-tags .linked.taggedentity:after{
    content: "</" attr(xmltagname) ">";
    font-size: small;
    font-weight: bold;
    color: green;
}
