.lemma_container *{
    box-sizing: border-box;
    line-height: 24px;
}

.lemma_container{
    padding: 2px;
    overflow-y: auto;
    color: black;    
}

.lemma_category{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.lemma_category_header{
    background-color: #e0e0e0;
    border: 2px solid #e8e8e8;    
    position: relative;
    height: 30px;       
}

.lemma_category_header:hover{
    background-color: #d8d8d8;
    cursor: pointer;
    border: 2px solid #c8c8c8;        
}

.lemma_category_arrow{
    position: relative;
    height: 15px;
    top: 5px;
    padding: 0px 5px 0px 5px;
    line-height: 24px;
}

.lemma_category_arrow.closed{
    transform: rotate(0deg);
    transition: 300ms ease all;
}

.lemma_category_arrow.opened{
    transform: rotate(90deg);
    transition: 300ms ease all;
}

.lemma_category_text{
    position: relative;
    height: 1em;
    top: calc(11px - 0.5em);
    vertical-align: middle;
}

.lemma_category_tag{
    position: absolute;
    height: 20px;
    top: 4px;
    right: 28px;    
    border: 1px dotted lightgrey;
}

.lemma_category_eye{
    position: absolute;
    height: 20px;
    top: 4px;
    right: 4px;    
    border: 1px dotted lightgrey;
}

.lemma_category_eye:hover, .lemma_category_tag:hover{
    border: 1px solid grey;
    background-color: rgba(255, 255, 200, 0.5);
}

.lemma_category_container{
    position: relative;
    width: 100%;
    overflow:hidden;
    transition:height 300ms ease-out;
    height:0px;    
}

.lemma_widget{
    height: 30px;
    vertical-align: middle;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    width: 100%;
    line-height: 30px;
    cursor: pointer;
}

.lemma_widget:hover{
    background-color: #e0e0e0;
    border: 1px solid #d0d0d0;
}

.lemma_widget.highlight{
    color: #ff0033;
    font-weight: bold;
}

.lemma_widget.focus{
    background-color: #e0e0e0;
    border: 1px solid #d0d0d0;
}

.lemma_widget_count{
    position: relative;
    font-size: 0.75em;
    font-weight: bold;
    left: 5px;
    border: 1px dotted grey;
    border-radius: 10px;
    padding: 2px;
}

.lemma_widget_text{    
    position: relative;
    height: 1em;
    left: 37px;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis;
    line-height: normal;
    top: 3px;
}
