:root{
    --main-bg-color: #455372;
    --main-hover-color: #556382;
    --main-shadow-color: #c0c0df;
    --main-window-color: #ced4e0;
}

body{
    -webkit-user-select: none;
}

.nerveContainer{
    position: absolute;
    font-family: Lato,Arial,Helvetica,sans-serif;
    color: #eeeeef;    
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    min-width: 980px;
    min-height: 480px;
    background-color: var(--main-window-color);
}

.menuContainer{
    position: absolute;
    width: 100%;
    height: 75px;
    border-bottom: 2px solid black;
    background-color: var(--main-bg-color);
}

.menuInfo{
    position: absolute;
    width: 258px;
    text-align: center;
    border-right: 2px solid black;
    height: 100%;
    font-size: 0.775em;
}

.documentTitle{
    position: absolute;
    height: 40px;
    left: 262px;
    font-size: 30px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    /*-webkit-user-select: auto;*/
}

#menuBar{
    position: absolute;
    left: 260px;
    width: calc(85% - 20px);
    height: 33px;
    top: 40px;
    cursor: pointer;
    /*-webkit-user-select: none;*/
}

.menuTitle{
    position: relative;
    left: 4px;
    top: 4px;
}
#middlePanel{
    position: absolute;
    top: 75px;
    width: 100%;
    height: calc(100% - 85px);
    margin: 5px;
}

#middlePanel > .innerPanel{
    display: inline-block;
    position: relative;
    border: 1px solid black;
    background-color: whitesmoke;
    height: 100%;
}

#lemmaDialog{
    vertical-align: top;
    width: 250px;
}

#panelContainer{
    width: calc(100% - 265px);
    overflow-y: none;
    -webkit-user-select: text;
    display: inline-block;
}

#entityDialog{
    vertical-align: top;
    width: 250px;
}

#entityDialog > *{
    margin: 10px;
}


#messagePanel{
    position: absolute;
    border: 1px solid black;
    background-color: whitesmoke;
    bottom: 13px;
    left: 15%;
    font-size: 14px;
    word-wrap: normal;
    overflow-y: scroll;
    line-height: 100%;
    z-index: 2;
    /*-webkit-user-select: auto;*/
    width: 60%;
    min-width: 300px;
}

.messagePanelSmall {
    height: 40px;
}

.messagePanelBig {
    height: 300px;
}

#userMessage{
    position: fixed;
    text-align: center;
    font-family: arial;
    font-weight: 900;
    font-size: 3.0vw;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
    color: #ccccff;
    z-index: 1000;
    pointer-events:none;

   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

.userMessageElement{
    position: relative;
    text-align: center;
    font-family: arial;
    font-weight: 900;
    font-size: 3.0vw;
    color: #ccccff;
    z-index: 1000;
    pointer-events:none;

   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}



#message{
    position: absolute;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 2vw;
    top: calc(50% - 170px);
    width: 100%;
}

#percent{
    display: none;
    position: absolute;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 3vw;
    width: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 20px);
}

#baubles{
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 115px);
    width: 100%;
}

#baubles > img{
    display: none;
    width: 30px;
}

#entityPanelSearch{
    position: relative;
    top: 10px;
}

#dictionary{
    position: relative;
    width: 100%;
}

#sourceDictionary{
    text-overflow: ellipsis;
    position: absolute;
    left: 5%;
    top: 25px;
}

#dictionary > button{
    position: absolute;
    display: none;
    width: 90%;
    left: 5%;
    top: 0px;
    text-overflow: ellipsis;
}

#fullname{
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

#link{
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}



.inactiveForeground{
    color: #b0b0d0;
}

.dialogSubtitle > button{
    display: inline-block;
    top: 10px;
    left: 5px;
}