
#entityPanel{
    position: absolute;
    box-sizing: border-box;
    display: inline;
    /*white-space: pre;*/
    /*display: inline-block;*/
    height: 100%;
    width: 100%;
    font-size: 18px;
    word-wrap: normal;
    line-height: 175%;
    padding: 15px;
    overflow-y: auto;
    color: black;
}

#dialogFade{
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    background-color: rgba(206, 206, 228, 0.5);
    left: 0px;
    bottom: 0px;
    z-index: 5;
}