#entityPanel.cwrc[data-mode="entity"]{
    div[xmltagname="P"] {    
        word-wrap: normal;
        white-space: normal;
        display : block;
        margin-bottom: 20px;
        text-align: justify;
    }

    div[xmltagname="EVENTS"] {
        font-family : "Times New Roman", Times, serif;
    }
    div[xmltagname="CWRCHEADER"] {
        display : block;
        font-family : Verdana, Geneva, sans-serif;
        font-size : small;
    }
    div[xmltagname="FILEDESC"] {
        background-color : #BBB;
        color : #555;
        font-weight : bold;
    }
    div[xmltagname="DOCTITLE"] {
        display : block;
        font-variant : small-caps;
        font-size : x-large;
        font-weight : normal;
    }
    div[xmltagname="ENTRY"],
    div[xmltagname="FILEDESC"],
    div[xmltagname="DOCAUTHOR"],
    div[xmltagname="DOCEDITOR"],
    div[xmltagname="DOCEXTENT"],
    div[xmltagname="PUBLICATIONSTMT"],
    div[xmltagname="TITLESTMT"],
    div[xmltagname="PUBPLACE"],
    div[xmltagname="DATAITEM"],
    div[xmltagname="SOURCE"] {
        display: block;
        display: list-item;
        margin: 10px;
    }
    div[xmltagname="DATAITEM"] {
        font-style: italic;
        font-weight: bold;
    }
    div[xmltagname="BIRTHNAME"]:before {
        content: "Birth Name:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="NICKNAME"]:before {
        content: "Nickname:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="MARRIED"]:before {
        content: "Married Name:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="INDEXED"]:before {
        content: "Indexed:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="SELFCONSTRUCTED"]:before {
        content: "Self Constructed:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="PSEUDONYM"]:before {
        content: "Pseudonym:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="RELIGIOUSNAME"]:before {
        content: "Religious Name:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="ROYAL"]:before {
        content: "Royal Name:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="STYLED"]:before {
        content: "Styled:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="TITLED"]:before {
        content: "Titled:";
        font-weight: normal;
        font-style: normal;
    }
    div[xmltagname="RESPONSIBILITY"] {
        font-family: Verdana, Geneva, sans-serif;
        font-size: small;
        background-color: #F0EDFC;
        display: list-item;
    }
    div[xmltagname="STANDARD"] {
        font-weight: bold;
    }
    div[xmltagname="EMPH"] {
        font-style : italic;
    }
    div[xmltagname="FOREIGN"] {
        font-style : italic;
    }
    div[xmltagname="TITLE"][TITLETYPE = "MONOGRAPHIC"],
    div[xmltagname="TITLE"][TITLETYPE = "JOURNAL"] {
        font-style : italic;
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="TITLE"][TITLETYPE = "SERIES"] {
        font-style : normal;
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="TITLE"][TITLETYPE = "ANALYTIC"],
    div[xmltagname="TITLE"][TITLETYPE = "UNPUBLISHED"] {
        font-style : normal;
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="TITLE"][TITLETYPE = "ANALYTIC"]:before,
        div[xmltagname="TITLE"][TITLETYPE = "UNPUBLISHED"]:before {
        content : open-quote;
    }
    div[xmltagname="TITLE"][TITLETYPE = "ANALYTIC"]:after,
        div[xmltagname="TITLE"][TITLETYPE = "UNPUBLISHED"]:after {
        content : close-quote;
    }
    div[xmltagname="ADDRLINE"] {
        display : list-item;
    }
    div[xmltagname="IDNO"] {
        display : list-item;
    }
    div[xmltagname="AVAILABILITY"] {
        display : inline;
    }
    div[xmltagname="RESEARCHNOTE"] {
        background-color : #FBEFEF;
        color : #663366;
        font-family : Arial, Helvetica, sans-serif;
        font-size : smaller;
        display : list-item;
    }
    div[xmltagname="HEADING"] {
        font-weight : bold;
        font-size : x-large;
        color : #039;
        margin: 10px;
    }

    div[xmltagname="CHRONSTRUCT"] {
        display : list-item;
    }
    div[xmltagname="CHRONSTRUCT"] DATE {
        font-weight : bold;
    }
    div[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "BRITISHWOMENWRITERS"] {
        content : url(http://cwrc.ca/templates/images/pen1.gif);
    }
    div[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "NATIONALINTERNATIONAL"] {
        content : url(http://cwrc.ca/templates/images/earth1.gif);
    }
    div[xmltagname="CHRONSTRUCT"][CHRONCOLUMN = "SOCIALCLIMATE"] {
        content : url(http://cwrc.ca/templates/images/people1.gif);
    }
    div[xmltagname="SHORTPROSE"] {
        padding-left : 4em;
    }

    div[xmltagname="LISTBIBCIT"] {
        display: block;
        margin: 10px;
    }

    div[xmltagname="BIBCIT"] {
        display: block;
        font-size: smaller;
        margin-bottom: 5px;
        display: list-item;
    }
    div[xmltagname="BIBCIT"]:before {
        content : "(";
    }
    div[xmltagname="BIBCIT"]:after {
        content : ")";
    }
    div[xmltagname="BIBCITS"] {
        display: block;
        background-color : #FFC;
    }
    div[xmltagname="SCHOLARNOTE"] div[xmltagname="P"] {
        content : url(http://cwrc.ca/templates/images/note.gif);
        background-color : #E0E0F8;
    }
    div[xmltagname="NAME"] {
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="ORGNAME"] {
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="SETTLEMENT"] {
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="REGION"] {
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="GEOG"] {
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="AREA"] {
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="TOPIC"] {
        font-weight : bold;
        color : #336699;
    }
    div[xmltagname="QUOTE"]:before {
        content : open-quote;
    }
    div[xmltagname="QUOTE"]:after {
        content : close-quote;
    }
    div[xmltagname="QUOTE"][DIRECT = "N"]:before {
        content : "'";
    }
    div[xmltagname="QUOTE"][DIRECT = "N"]:after {
        content : "'";
    }
    div[xmltagname="SOCALLED"]:before {
        content : "'";
    }
    div[xmltagname="SOCALLED"]:after {
        content : "'";
    }
}