#entityPanel.tei[data-mode="entity"]{

    .tagname-markup {
        top: 16px;
    }

    div[xmltagname="TEI"] {
        font-family : Georgia, serif;
        line-height : 1.5;
    }

    div[xmltagname="add"] {
        text-decoration : underline;
    }

    div[xmltagname="anchor"] {
        display : none;
    }

    div[xmltagname="att"] {
        font-family : sans-serif;
    }

    div[xmltagname="back"] {
        border : thin black solid;
    }

    div[xmltagname="bibl"]{
        display: block;
        margin-bottom: 1em;
        text-align: left;
    }

    div[xmltagname="bibl"]>
    div[xmltagname="title"] {
        content: "Alternate Title: " !important;
    }

    div[xmltagname="bibl"]>
    div[xmltagname="title"] {
        content: "";
    }

    div[xmltagname="body"] {
        counter-reset : div1;
    }

    div[xmltagname="byline"] {
        font-style : italic;
    }

    div[xmltagname="catRef"] {
        display : none;
    }

    div[xmltagname="cell"] {
        display : table-cell;
        border : 1px solid #EEEFEE;
    }

    div[xmltagname="cit"] {
        display : inline;
    }

    div[xmltagname="closer"] {
        width : 95%;
    }

    div[xmltagname="code"] {
        font-family : monospace;
    }

    div[xmltagname="change"]>
    div[xmltagname="date"],
    div[xmltagname="publicationStmt"]>
    div[xmltagname="date"] {
        font-weight : bold;
    }

    div[xmltagname="del"] {
        color : red;
        background-color : inherit;
        text-decoration : line-through;
    }

    div[xmltagname="body"]>
    div[xmltagname="div"] {
        counter-increment : div1;
        counter-reset : div2;
    }

    div[xmltagname="body"] >
    div[xmltagname="div"] >
    div[xmltagname="div"] {
        counter-increment : div2;
        counter-reset : div3;
    }

    div[xmltagname="body"] >
    div[xmltagname="div"] >
    div[xmltagname="div"] >
    div[xmltagname="div"] {
        counter-increment : div3;
    }

    div[xmltagname="body"] >
    div[xmltagname="div"] {
    }

    div[xmltagname="div"] {
        counter-reset:line;
    }

    div[xmltagname="div1"] {
        counter-increment : div1;
        counter-reset : div2;
    }

    div[xmltagname="div2"] {
        counter-increment : div2;
        counter-reset : div3;
    }

    div[xmltagname="div3"] {
        counter-increment : div3;
        counter-reset : div4;
    }

    div[xmltagname="div4"] {
        counter-increment : div4;
        counter-reset : div5;
    }

    div[xmltagname="div5"] {
        counter-increment : div5;
        counter-reset : div6;
    }

    div[xmltagname="div6"] {
        counter-increment : div6;
        counter-reset : div7;
    }

    div[xmltagname="div7"] {
        counter-increment : div7;
    }

    div[xmltagname="divGen"] {
        display : none;
    }

    div[xmltagname="eg"] {
        font-family : monospace;
        display : block;
        white-space : pre;
        color : inherit;
        background-color : #FFCC99;
    }

    div[xmltagname="emph"] {
        font-style : italic;
    }

    div[xmltagname="epigraph"] {
        display : block;
        text-align : center;
    }

    div[xmltagname="extent"] {
        display : block;
    }

    div[xmltagname="graphic"] {
        color : gray;
        background-color : inherit;
    }

    div[xmltagname="figure"] {
        display : block;
    }

    div[xmltagname="foreign"] {
        font-style : italic;
    }

    div[xmltagname="formula"] {
        font-style : italic;
    }

    div[xmltagname="front"] {
        display : block;
    }

    div[xmltagname="funder"] {
        display : block;
    }

    div[xmltagname="gap"] {
        display : none;
    }

    div[xmltagname="gi"],
    div[xmltagname="tag"] {
        font-family : sans-serif;
        color : black;
        background-color : inherit;
    }

    div[xmltagname="group"] {
        display : block;
    }

    div[xmltagname="body"] >
    div[xmltagname="div"] >
    div[xmltagname="head"] {
        display : block;
        color : inherit;
        font-weight : bold;
        font-size : 18px;
    }

    div[xmltagname="body"] >
    div[xmltagname="div"] >
    head div[xmltagname="author"] {
        font-weight:normal;
    }

    div[xmltagname="body"] >
    div[xmltagname="div"] >
    div[xmltagname="div"] >
    div[xmltagname="head"] {
        display : block;
        color : inherit;
        background-color : #BBBBBB;
        font-weight : bold;
    }

    div[xmltagname="body"] >
    div[xmltagname="div"] >
    div[xmltagname="div"] >
    div[xmltagname="div"] >
    div[xmltagname="head"] {
        display : block;
        color : inherit;
        background-color : #BBBBBB;
        font-weight : bold;
    }

    div[xmltagname="div"]
    div[xmltagname="opener"]
    div[xmltagname="dateline"] {
        display : block;
        text-align : right;
        width : 95%;
    }

    div[xmltagname="hi"] {
        background-color : yellow;
        color : black;
    }

    div[xmltagname="hi"] {
        background-color : inherit;
        color : inherit;
    }

    div[xmltagname="hi"] {
        font-weight : bold;
    }

    div[xmltagname="hi"] {
        font-style : italic;
    }

    div[xmltagname="hi"] {
        text-decoration : underline;
    }

    div[xmltagname="hi"] {
        font-style : italic;
    }

    div[xmltagname="hi"] {
        font-variant : small-caps;
    }

    div[xmltagname="hi"] {
        vertical-align : super;
        font-size : smaller;
    }

    div[xmltagname="hi"] {
        vertical-align : sub;
        font-size : smaller;
    }

    div[xmltagname="hi"] {
        text-decoration : underline;
    }

    div[xmltagname="ident"] {
        font-family : monospace;
    }

    div[xmltagname="index"] {
        display : none;
    }

    div[xmltagname="interp"] {
        display : none;
    }

    div[xmltagname="interpGrp"] {
        display : none;
    }

    div[xmltagname="list"]
    div[xmltagname="item"] {
        display : list-item;
    }

    div[xmltagname="item"] {
        display : list-item;
    }

    div[xmltagname="kw"] {
        font-style : italic;
    }

    div[xmltagname="label"] {
        font-weight : bold;
    }

    div[xmltagname="Label"] {
        font-weight : bold;
        color : #2F4F4F;
        background-color : inherit;
    }

    div[xmltagname="argument"] >
    div[xmltagname="label"] ,
    div[xmltagname="body"] >
    div[xmltagname="label"] ,
    div[xmltagname="div"] >
    div[xmltagname="label"] ,
    div[xmltagname="div0"] >
    div[xmltagname="label"] ,
    div[xmltagname="div1"] >
    div[xmltagname="label"] ,
    div[xmltagname="div2"] >
    div[xmltagname="label"] ,
    div[xmltagname="div3"] >
    div[xmltagname="label"] ,
    div[xmltagname="div4"] >
    div[xmltagname="label"] ,
    div[xmltagname="div5"] >
    div[xmltagname="label"] ,
    div[xmltagname="div6"] >
    div[xmltagname="label"] ,
    div[xmltagname="div7"] >
    div[xmltagname="label"] ,
    div[xmltagname="epigraph"] >
    div[xmltagname="label"] {
        font-weight : bold;
    }

    div[xmltagname="list"] {
        display : block;
        list-style-type : disc;
        list-style-position : outside;
    }

    div[xmltagname="list"] {
        display : inline;
    }

    div[xmltagname="list"] {
        list-style-type : disc;
        list-style-position : outside;
    }

    div[xmltagname="list"] {
        list-style-type : disc;
        list-style-position : outside;
    }

    div[xmltagname="list"] {
        list-style-type : decimal;
        list-style-position : outside;
    }

    div[xmltagname="list"] {
        list-style-type : decimal;
        list-style-position : outside;
    }

    div[xmltagname="list"] {
        list-style-type : none;
    }

    div[xmltagname="mentioned"] {
        font-style : italic;
    }

    div[xmltagname="milestone"] {
        display : none;
    }

    div[xmltagname="note"] {
        color:#999;
    }

    div[xmltagname="opener"]
    div[xmltagname="note"] {
        color:#999;
    }

    div[xmltagname="div"]
    div[xmltagname="note"]
    div[xmltagname="persName"], div[xmltagname="div"] div[xmltagname="note"] div[xmltagname="orgName"], div[xmltagname="div"] div[xmltagname="note"] div[xmltagname="title"], div[xmltagname="div"] div[xmltagname="note"] div[xmltagname="placeName"] {
        color:#6DB0CC !important;
    }

    div[xmltagname="note"] {
        float : left;
    }

    div[xmltagname="note"] {
        float : right;
    }

    div[xmltagname="note"],
    div[xmltagname="note"] {
        display : inline;
    }

    div[xmltagname="num"] {
        display : inline;
    }

    div[xmltagname="head"],
    div[xmltagname="byline"],
    div[xmltagname="docAuthor"],
    div[xmltagname="p"] {
        word-wrap: normal;
        white-space: pre-line;
        display : block;    
        text-align : justify !important;
        margin-bottom: 1em;
    }

    div[xmltagname="p"] {
        word-wrap: normal;
        white-space: pre-line;
        display : block;    
        text-align : justify !important;
        margin-bottom: 2em;
    }

    div[xmltagname="pb"] {
        display : none;
    }

    div[xmltagname="div"]
    div[xmltagname="persName"], div[xmltagname="div"] div[xmltagname="placeName"], div[xmltagname="div"] div[xmltagname="orgName"], div[xmltagname="div"] div[xmltagname="title"] {
        color: #336699;
    }

    div[xmltagname="principal"] {
        display : block;
    }

    div[xmltagname="ptr"] {
        color : navy;
        text-decoration : underline;
        background-color : inherit;
    }

    div[xmltagname="publicationStmt"] {
        display : block;
    }

    div[xmltagname="publicationStmt"]
    div[xmltagname="p"] {
        display : block;
    }

    div[xmltagname="publisher"] {
        display : inline;
    }

    div[xmltagname="imprint"] >
    div[xmltagname="publisher"],
    div[xmltagname="publicationStmt"] >
    div[xmltagname="publisher"] {
        display : block;
    }

    div[xmltagname="pubPlace"] {
        display : inline;
    }

    div[xmltagname="imprint"] >
    div[xmltagname="pubPlace"],
    div[xmltagname="publicationStmt"] >
    div[xmltagname="pubPlace"] {
        display : block;
    }

    div[xmltagname="q"] {
        quotes : '"' '"' "'" "'";
    }

    div[xmltagname="reg"] {
        font-style : italic;
    }

    div[xmltagname="row"] {
        display : table-row;
    }

    div[xmltagname="row"] {
        color : inherit;
        background-color : #BBBBBB;
    }

    div[xmltagname="sic"] {
        color : red;
        background-color : inherit;
    }

    div[xmltagname="soCalled"] {
        display : inline;
        font-style : italic;
        quotes : "'" "'";
    }

    div[xmltagname="div"]
    div[xmltagname="p"] {
        text-align : justify;
        text-indent : 30px;
    }

    div[xmltagname="speaker"] {
        font-weight : bold;
    }


    div[xmltagname="stage"] {
        font-style : italic;
    }

    div[xmltagname="table"] {
        text-align : center;
        display : table;
        margin : 1em
    }

    div[xmltagname="table"] >
    div[xmltagname="head"] {
        display : table-caption;
        font-style : italic;
    }

    div[xmltagname="term"] {
        font-family : sans-serif;
        color : black;
        background-color : inherit;
    }

    div[xmltagname="title"] {
        font-weight:normal;
    }

    div[xmltagname="title"],
    div[xmltagname="title"] {
        font-style : italic;
    }

    div[xmltagname="title"] {
        font-style : normal;
    }

    div[xmltagname="title"],
    div[xmltagname="title"] {
        font-style : normal;
    }

    div[xmltagname="seriesStmt"] >
    div[xmltagname="title"],
    div[xmltagname="titleStmt"] >
    div[xmltagname="title"] {
        color:gray;
        font-weight : bold;
    }

    div[xmltagname="titlePage"] {
        border : thin black solid;
        text-align : center;
    }

    div[xmltagname="titleStmt"] {
        color : #333;
    }

    div[xmltagname="unclear"] {
        display : inline;
        color : gray;
        background-color : inherit;
        font-style : italic;
    }

    div[xmltagname="header-related"] div[xmltagname="material"] div[xmltagname="teiHeader"] {
        display : block;
        color : gray;
        background-color : rgb(251, 242, 234);
    }

    div[xmltagname="teiHeader"]
    div[xmltagname="title"] {
        color:gray;
    }

    div[xmltagname="sourceDesc"] {
        border : thin silver solid;
    }

    div[xmltagname="docTitle"] {
        font-weight : bold;
        font-weight:bold;
    }

    div[xmltagname="OUCS"] div[xmltagname="additions"]
    div[xmltagname="Button"] {
        font-family : monospace;
        color : red;
        font-weight : bold;
        background-color : rgb(75%, 75%, 75%)
    }

    div[xmltagname="Value"] {
        font-family : monospace;
        color : rgb(255, 102, 0);
        background-color : inherit;
    }

    div[xmltagname="Code"] {
        font-family : monospace;
        color : red;
        background-color : inherit;
    }

    div[xmltagname="Field"] {
        font-family : monospace;
        color : red;
        background-color : inherit;
    }

    div[xmltagname="Filespec"] {
        font-family : monospace;
        color : red;
        background-color : inherit;
    }

    div[xmltagname="Input"] {
        font-family : monospace;
        color : green;
        background-color : inherit;
    }

    div[xmltagname="Key"] {
        font-family : monospace;
        text-decoration : underline;
        color : green;
        background-color : inherit;
    }

    div[xmltagname="Link"] {
        font-family : monospace;
        color : green;
        background-color : inherit;
        text-decoration : underline;
    }

    div[xmltagname="Menu"] {
        font-family : monospace;
        color : red;
        background-color : inherit;
    }

    div[xmltagname="Output"] {
        font-family : monospace;
        color : red;
        background-color : inherit;
    }

    div[xmltagname="Icon"] {
        color : inherit;
        background-color : #B0E0E6;
        font-weight : bold;
    }

    div[xmltagname="Screen"] {
        font-family : monospace;
        display : block;
        white-space : pre;
        color : inherit;
        background-color : #FFCC99;
    }
}
