.lemma_container * {
  box-sizing: border-box;
  line-height: 24px;
}

.lemma_container {
  padding: 2px;
  overflow-y: auto;
  color: black;
}

.lemma_category {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  user-select: none;
}

.lemma_category_header {
  background-color: #e0e0e0;
  border: 2px solid #e8e8e8;
  position: relative;
  height: 30px;
}

.lemma_category_header:hover {
  background-color: #d8d8d8;
  cursor: pointer;
  border: 2px solid #c8c8c8;
}

.lemma_category_arrow {
  position: relative;
  height: 15px;
  top: 5px;
  padding: 0px 5px 0px 5px;
  line-height: 1;
}

.lemma_category_arrow.closed {
  transform: rotate(0deg);
  transition: 300ms ease all;
}

.lemma_category_arrow.opened {
  transform: rotate(90deg);
  transition: 300ms ease all;
}

.lemma_category_text {
  position: relative;
  height: 1em;
  top: calc(11px - 0.5em);
  vertical-align: middle;
}

.lemma_category_tag {
  position: absolute;
  height: 20px;
  top: 4px;
  right: 28px;
  border: 1px dotted lightgrey;
}

.lemma_category_eye {
  position: absolute;
  height: 20px;
  top: 4px;
  right: 4px;
  border: 1px dotted lightgrey;
}

.lemma_category_eye:hover, .lemma_category_tag:hover {
  border: 1px solid grey;
  background-color: rgba(255, 255, 200, 0.5);
}

.lemma_category_container {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: height 300ms ease-out;
  height: 0px;
}

.lemma_widget {
  height: 30px;
  vertical-align: middle;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  width: 100%;
  line-height: 30px;
  cursor: pointer;
}

.lemma_widget:hover {
  background-color: #e0e0e0;
  border: 1px solid #d0d0d0;
}

.lemma_widget.highlight {
  color: #ff0033;
  font-weight: bold;
}

.lemma_widget.focus {
  background-color: #e0e0e0;
  border: 1px solid #d0d0d0;
}

.lemma_widget_count {
  position: relative;
  font-size: 0.75em;
  font-weight: bold;
  left: 5px;
  border: 1px dotted grey;
  border-radius: 10px;
  padding: 2px;
}

.lemma_widget_text {
  position: absolute;
  height: 1em;
  left: 37px;
}

.nidget-context-dialog, .nidget-context-dialog > * {
  box-sizing: border-box;
  font-family: arial;
  font-size: small;
  user-select: none;
}

/*the main outer box of the dialog*/
.nidget-context-menu {
  position: absolute;
  z-index: 7500;
  width: 275px;
  background-color: whitesmoke;
  border: 1px solid #a0a0a0;
  box-shadow: 5px 5px 20px #a0a0a0;
}

.nidget-context-dialog {
  left: 500px;
  top: 500px;
}

.nidget-context-submenu {
  position: absolute;
  left: 266px;
  top: -1px;
}

.nidget-context-dialog hr {
  border-color: #b1b1b1;
  height: 0px;
}

/*top level menu item*/
.nidget-context-menuitem {
  position: relative;
  padding: 5px 10px 5px 10px;
  width: calc (100% - 10px);
}

.nidget-context-menuitem.disabled {
  color: #a0a0a0;
}

.nidget-context-menuitem:not(.disabled):hover {
  background-color: #e1e1e1;
}

.nidget-context-menuitem > * {
  display: inline-block;
}

.nidget-context-right-image {
  position: absolute;
  right: 5px;
  height: 60%;
}

.nidget-context-right-arrow {
  position: absolute;
  right: 5px;
  height: 60%;
}

.nidget-context-image-throbber {
  display: none;
}

.nidget-context-left-image {
  position: absolute;
  display: inline-block;
  left: 5px;
  height: 60%;
}

.nidget-context-label {
  cursor: pointer;
  position: relative;
  left: 20px;
  width: 240px;
}

.nidget-context-label.disabled {
  cursor: not-allowed;
  color: grey;
}

.nidget-context-help {
  display: none;
  position: fixed;
  border: 1px solid #a0a0a0;
  box-shadow: 5px 5px 20px #a0a0a0;
  background-color: whitesmoke;
  width: 400px;
}

.nidget-context-help > .nidget-title {
  background-color: #455372;
  color: white;
  text-align: center;
  font-size: larger;
}

.nidget-context-help > .nidget-contents {
  text-align: center;
  font-size: larger;
  margin: 20px;
  text-align: justify;
}

/*# sourceMappingURL=compiled.css.map */
