
.context-dialog, .context-dialog > *{
    box-sizing: border-box;
    font-family: arial;
    font-size: small;    
}

.context-dialog .context-item{
    padding: 5px 0px 5px 0px;
}

.context-dialog .context-item.inactive{
    color: #a0a0a0;
}

.context-dialog .context-item.active:hover{
    background-color: #e1e1e1;
}

.context-dialog{
    position: absolute;
    z-index: 7500;  
    width: 275px;
    background-color: whitesmoke;
    border: 1px solid #a0a0a0;
    left: 500px;
    top: 500px;
    padding: 10px;
}

.context-dialog .inactive{
    /*display: none;*/
}

.context-menu .active {
    /*display: block;*/
}