#loadButtons, #actionButtons{
    display: table;
    position: relative;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#target{
    position: relative;
    width: 80%;
    left: 10%;
    border: 1px solid black;
    top: 10px;
    height: 90vh;    
}