$fa-font-path: "./webfonts";
$enable-gradients: true;
$enable-shadows: true;
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./cwrcdialogs";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";