@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

$hover-background: #f5f5f5;
$hover-foreground: #324f87;

.modal .modal-body{
    max-height: 80vh;
    overflow-y: scroll;
}

.panel-heading{
    position: relative;
    margin: 5px;
}

.panel-heading a:after{
    @extend .fas;    
    float: right;
    color: grey;
    cursor: pointer;
    content: fa-content("\f107");
}

.panel-heading a.collapsed:after{
    @extend .fas;    
    content: fa-content("\f105");
}

.list-group .list-group-item {
    cursor: pointer;
    float: none !important; /* islandora css conflict */
}
.list-group .list-group-item:hover {
    color: $hover-foreground;
    text-decoration: none;
    background-color: $hover-background;
}
.list-group .list-group-item.active a {
    color: #fff;
}
.list-group-item .logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: -23.5px;
    float: right;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

.cwrc-result-item > *{
    display: inline-block;
}

.cwrc-result-buttons > button{
    cursor: pointer;
}
    
.cwrc-result-buttons > button:hover{
    cursor: pointer;
    color: $hover-foreground;
    background-color: $hover-background;
}

.cwrc-result-buttons{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.cwrc-result-desc{
    visibility: hidden;
    position: absolute;
    z-index: 1;    
    border: 1px solid grey;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}

.cwrc-result-desc-icon{
    position: relative;
    display: inline-block;
    box-sizing: initial;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid black;
    text-align: center;
    font: 12px Arial, sans-serif; 
    font-weight: bold;
    left: 2px;
}

.cwrc-result-has-desc:hover .cwrc-result-desc {
    visibility: visible;
}